In [129]:
import pandas as pd
from statsmodels.tsa.ardl import ardl_select_order
from statsmodels.tsa.ardl import ARDL

import numpy as np

import sys
sys.path.append("../src/model")

from ARDL_model import ARDL_model_func

DATA_PATH = "../data/CLEAN"

# Violent movie data

In [10]:
df_box_offices = pd.read_csv(DATA_PATH+"/Violent_Movies_final.tsv", sep="\t")

In [11]:
# Testing out the ARDL model: 
weekly_revenue_films = ARDL_model_func(df_box_offices)

In [12]:
# QUESTIONS
# 1) Only take the years 1950-2012 ? In other years we have nearly no weekly values ? Due to wars ? 
# 2) Fill all missing weeks with 0 films and 0 box_office_revenue


weekly_revenue_films.head()

   Year  Week  no. films released  Box office revenue
0  1913    33                   1            980000.0
1  1914    46                   1             87028.0
2  1915     6                   1          50000000.0
3  1923    47                   1           4168790.0
4  1924    49                   1            274827.0

# Real world violence data

In [16]:
df_real_violence = pd.read_csv(DATA_PATH+"/FBI_91_12/Scores/0_violence_scores_merged.csv", sep=",")
df_real_violence.head()

   Year  Week  Violence_score
0  1991     1            3798
1  1991     2            2869
2  1991     3            2842
3  1991     4            2871
4  1991     5            3302

In [29]:
# sum up violence counts for all states (grouped by year and week) to have one final violence score for USA per week
weekly_violence_USA = df_real_violence.groupby(["Year", "Week"])["Violence_score"].sum().reset_index()
weekly_violence_USA = weekly_violence_USA.sort_values(["Year", "Week"], ascending=True)
weekly_violence_USA.head()

   Year  Week  Violence_score
0  1991     1            9679
1  1991     2            6439
2  1991     3            6556
3  1991     4            6651
4  1991     5            7336

# Match both datasets in timespan

In [40]:
# we only have the real violence data from 1991 to 2012
year_start = weekly_violence_USA["Year"].min()
year_stop = weekly_violence_USA["Year"].max()

# for 2012, we only have the movie box office revenue until week 42 (included)
df_temp = weekly_revenue_films[weekly_revenue_films['Year'] == 2012]

# Get the maximum value of the "week" column
week_stop_2012 = df_temp['Week'].max()

In [ ]:
# cut movie box office revenue dataframe for the timespan 1991-2012
weekly_revenue_films_cut = weekly_revenue_films[(weekly_revenue_films["Year"] >= year_start) & (weekly_revenue_films["Year"] <= year_stop)]

# cut the real world violence dataframe to only contain values until week 42 of 2012 (included)
weekly_violence_USA_cut = weekly_violence_USA[(weekly_violence_USA["Year"] < 2012) | ((weekly_violence_USA["Year"] == 2012) & (weekly_violence_USA["Week"] <= 42))]

     Year  Week  no. films released  Box office revenue
862  1991     2                   2          38867309.0
863  1991     3                   2          20038851.0
864  1991     5                   2           8614328.0
865  1991     6                   2         175738109.0
866  1991     7                   1         272742922.0

# Merge the two dataframes

In [69]:
merged_violence = pd.merge(weekly_violence_USA_cut, weekly_revenue_films_cut, on=['Year', 'Week'], how='left')
merged_violence["no. films released"] = merged_violence["no. films released"].fillna(0).astype(int)
merged_violence["Box office revenue"] = merged_violence["Box office revenue"].fillna(0).astype(int)

merged_violence = merged_violence.sort_values(["Year", "Week"], ascending=True)

merged_violence.head()

   Year  Week  Violence_score  no. films released  Box office revenue
0  1991     1            9679                   0                   0
1  1991     2            6439                   2            38867309
2  1991     3            6556                   2            20038851
3  1991     4            6651                   0                   0
4  1991     5            7336                   2             8614328

# Add the time dummies

In [64]:
# Get indicator variables for the year-week
merged_violence["Year-Week"] = merged_violence["Year"].astype(str) + "-" + merged_violence["Week"].astype(str)

In [67]:
# Create time dummies for weekly time-fixed effects, drop temporary Year-Week column afterwards
time_dummies = pd.get_dummies(merged_violence["Year-Week"], drop_first=True).astype(int)
merged_violence_with_dummies = pd.concat([merged_violence.drop(columns="Year-Week"), time_dummies], axis=1)
merged_violence_with_dummies.head()

,Year,Week,Violence_score,no. films released,Box office revenue,1991-10,1991-11,1991-12,1991-13,1991-14,...,2012-39,2012-4,2012-40,2012-41,2012-42,2012-5,2012-6,2012-7,2012-8,2012-9
0,1991,1,9679,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1991,2,6439,2,38867309,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1991,3,6556,2,20038851,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1991,4,6651,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1991,5,7336,2,8614328,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Try out ARDL model

In [123]:
# Setting the time frame for the auto-regressive part
max_auto_lag = 6            # take into account max. 6 previous timesteps

# Setting the time span for the distributed lag part
max_film_lag = 6            # take into account max. 4 previous timesteps
#max_unemployment_lag = 1    # take into account max 1 previous timestep

In [124]:
# find best order for lags
selected_order = ardl_select_order(
    endog=merged_violence_with_dummies['Violence_score'], 
    exog=merged_violence_with_dummies.drop(columns=["Year", "Week", "Violence_score", "no. films released"]), 
    maxlag=max_auto_lag, 
    maxorder={"Box office revenue": max_film_lag}, 
    ic='aic'
)

/Users/raphael_hellmann/anaconda3/envs/alligators/lib/python3.12/site-packages/statsmodels/tsa/ardl/model.py:455: SpecificationWarning: exog contains variables that are missing from the order dictionary.  Missing keys: 1999-51, 1991-33, 1992-18, 2007-47, 1991-20, 2006-31, 2006-25, 2007-32, 2010-30, 2002-1, 2005-38, 2011-50, 2010-25, 2007-1, 1993-36, 2000-15, 2012-30, 2008-8, 2011-42, 2005-53, 1999-14, 1995-48, 1992-43, 1995-11, 2007-7, 1995-46, 2007-41, 1992-25, 1996-40, 2005-33, 1993-46, 2009-15, 1999-18, 2008-51, 1992-15, 2001-16, 1991-4, 2001-41, 2009-33, 2010-51, 2011-51, 1993-2, 1993-13, 1994-16, 1995-47, 1995-49, 1998-45, 2008-28, 2011-49, 2002-7, 1994-35, 1993-48, 1997-52, 2003-3, 2006-26, 1996-10, 2006-37, 1992-17, 2007-17, 1991-15, 1992-16, 2003-24, 2004-29, 1994-2, 2001-9, 1998-4, 2003-1, 2010-7, 2006-49, 1991-12, 2000-35, 1999-6, 1995-13, 2005-15, 1996-45, 2005-10, 1995-36, 1995-38, 1994-37, 2004-11, 2005-12, 1993-51, 2010-43, 2006-24, 2008-40, 1997-47, 2010-50, 2002-30, 1993-35, 2000-52, 1998-28, 2005-51, 2009-1, 2004-41, 2008-44, 2004-37, 2000-11, 2007-11, 1998-38, 2005-36, 1996-50, 1996-11, 2002-50, 1998-50, 1991-16, 1998-49, 2010-23, 2001-17, 2005-2, 2008-50, 2009-49, 1993-14, 2009-16, 1996-14, 2004-52, 1995-45, 2003-44, 2006-30, 1993-11, 2001-31, 2007-6, 2003-49, 2005-44, 1993-45, 2012-26, 2001-13, 2001-29, 1996-17, 2010-9, 1998-20, 2009-7, 2007-51, 1999-29, 2012-9, 1998-9, 2009-53, 1992-1, 2005-18, 2010-34, 2012-22, 2006-20, 1992-28, 1996-1, 2000-41, 2010-40, 1992-24, 2012-36, 2009-19, 2005-9, 2000-20, 1997-34, 1991-36, 2000-39, 2003-48, 2011-39, 2006-10, 2006-15, 2000-51, 1993-38, 1991-50, 2002-51, 2007-9, 1995-39, 2000-13, 2001-25, 1994-14, 1995-24, 2004-24, 1991-25, 2002-43, 2010-12, 1992-9, 2003-47, 1993-7, 2012-23, 1998-33, 2006-23, 1997-43, 2011-46, 2002-33, 2009-51, 2011-30, 2004-3, 2004-46, 2001-50, 2004-19, 1995-30, 1997-25, 1991-29, 2012-11, 1997-16, 2004-6, 2001-43, 2006-36, 1996-16, 1998-41, 2012-1, 1995-43, 2012-28, 1991-47, 2004-17, 1993-37, 2005-41, 1999-49, 2007-31, 1997-37, 2004-5, 1996-18, 2005-29, 2004-4, 1991-17, 2001-5, 1998-53, 2007-13, 1998-3, 2008-37, 2011-27, 2002-42, 2011-16, 1991-26, 2001-49, 1994-4, 1998-10, 2009-46, 2011-24, 1997-30, 1995-12, 1994-42, 1996-46, 2002-5, 1998-30, 2004-8, 2008-49, 2005-21, 1991-6, 1994-10, 1998-24, 2006-6, 2007-52, 1992-34, 2002-3, 2005-27, 1993-25, 2007-40, 1992-14, 1993-12, 1993-4, 2011-36, 2006-1, 2010-27, 2006-39, 2002-22, 2011-3, 2004-31, 1992-12, 2002-14, 1993-30, 2012-39, 2003-51, 1998-36, 2011-20, 2002-34, 1998-5, 2003-11, 1999-28, 1991-32, 2000-3, 2004-9, 1991-22, 2011-48, 1997-33, 1998-8, 1992-8, 1998-32, 2010-16, 2002-12, 1992-30, 2009-14, 1994-33, 2002-21, 1996-29, 2000-49, 2000-19, 2009-3, 1992-5, 1996-9, 1998-23, 1993-22, 2008-18, 1992-48, 2010-47, 2010-15, 1994-5, 2002-45, 2006-38, 1991-13, 1995-41, 2008-31, 2011-7, 1999-39, 2000-43, 2002-49, 2006-13, 2007-10, 1993-42, 2003-41, 2000-48, 2012-3, 1993-20, 1991-31, 1994-13, 2003-21, 2011-15, 2003-13, 2001-44, 1997-9, 2009-29, 1996-12, 1995-44, 2006-16, 1995-29, 1995-22, 1996-4, 2010-5, 1991-21, 2004-18, 1992-3, 1991-2, 2006-34, 2000-2, 1995-25, 1995-35, 1992-4, 1994-44, 2010-11, 2008-33, 2002-25, 2002-46, 2001-30, 1999-32, 2004-10, 2010-44, 2004-44, 1994-20, 2000-16, 2005-19, 2000-26, 2008-36, 2009-42, 1994-31, 1993-31, 1994-46, 2010-35, 2000-6, 2004-50, 2007-37, 1994-49, 1992-39, 2012-34, 1999-2, 2003-6, 2010-24, 2006-22, 2009-24, 2001-34, 2001-47, 1994-29, 2003-50, 2000-33, 2011-40, 1999-35, 2008-48, 1997-18, 1996-24, 2003-9, 1996-32, 2009-5, 2009-35, 1994-30, 2002-27, 1998-42, 1997-22, 2008-47, 1992-20, 1991-34, 2001-27, 2011-12, 2009-31, 1992-19, 1997-27, 1996-26, 1999-27, 2008-6, 1992-29, 1995-8, 2007-38, 2005-24, 1998-7, 1995-5, 1999-3, 1999-43, 1992-2, 1995-2, 2007-35, 2010-53, 1994-3, 1996-39, 2011-4, 2006-52, 2002-24, 1994-48, 2000-44, 2006-29, 2008-3, 1996-41, 2002-9, 2007-2, 1992-27, 2012-21, 1993-8, 2010-20, 2012-31, 1991-5, 1995-4, 2001-35, 1992-47, 2012-15, 2009-6, 1991-24, 1997-40, 1999-19, 1993-5, 1994-15, 1996-23, 1998-34, 2003-2, 2007-36, 2007-43, 2007-44, 2012-2, 2003-5, 1997-7, 2003-23, 1998-11, 2003-30, 2003-38, 1999-13, 2006-48, 2010-36, 1991-37, 1994-24, 1995-15, 2011-5, 2000-38, 2008-26, 1993-18, 1999-38, 2000-42, 1997-20, 2007-18, 2009-36, 2010-46, 2009-8, 2009-39, 1997-28, 1994-28, 1997-11, 2005-6, 2012-5, 2001-11, 2003-37, 2001-22, 2004-16, 2007-8, 2002-41, 1997-15, 1997-10, 2005-20, 1996-28, 2002-35, 2005-30, 1992-21, 1994-19, 1995-18, 2012-32, 2006-7, 1999-47, 1994-11, 1999-20, 2007-25, 1996-49, 1997-19, 2007-22, 2005-39, 1991-9, 1995-40, 1999-34, 2009-25, 2009-13, 1998-31, 1998-14, 2004-25, 2006-8, 1992-6, 2010-10, 1994-26, 2001-1, 2001-7, 2011-10, 2001-52, 1994-23, 2011-33, 2009-38, 2000-9, 2000-46, 2007-20, 2008-34, 1999-9, 2002-16, 2008-23, 1997-21, 2008-46, 2008-45, 2000-18, 2005-4, 2001-28, 1996-47, 2007-3, 2009-18, 2009-37, 1995-33, 2004-2, 2009-34, 1994-12, 1994-47, 1997-17, 2000-34, 2003-14, 2004-32, 1995-3, 2011-9, 1993-26, 1997-1, 2011-13, 2010-45, 1992-22, 1996-34, 2004-33, 1993-33, 2007-45, 2005-45, 2000-14, 1996-52, 2006-33, 2000-4, 2012-12, 2006-40, 2003-42, 2010-48, 2012-40, 1999-10, 2005-7, 2012-6, 2003-18, 1991-3, 1994-1, 2006-32, 1999-23, 2001-10, 2011-11, 2012-42, 1994-9, 1991-42, 2004-7, 2004-48, 2010-26, 1997-4, 2002-18, 2005-47, 2003-52, 1992-51, 1996-51, 2005-32, 1998-43, 2000-27, 1996-35, 1995-17, 1997-2, 2005-5, 2007-4, 1999-26, 2004-47, 1993-53, 2005-23, 2005-14, 1993-29, 1998-19, 1992-23, 1996-44, 1996-8, 1993-32, 2006-17, 2009-2, 2005-35, 1998-35, 1998-6, 1998-13, 2005-1, 1992-46, 2000-37, 2011-25, 2007-19, 2009-47, 1992-36, 1994-51, 2001-51, 2012-14, 1991-40, 1998-15, 1998-22, 2009-45, 2010-49, 2002-38, 2007-14, 2002-13, 2002-52, 2003-34, 2010-18, 1995-27, 2011-52, 1994-8, 1993-24, 2004-49, 2012-33, 2009-17, 2003-25, 2007-21, 2006-19, 1998-21, 1992-49, 2002-20, 2002-32, 2004-26, 1999-1, 2008-24, 2005-37, 1999-53, 2009-48, 2011-41, 1997-49, 2008-52, 2001-24, 2007-48, 2004-22, 2001-2, 2001-33, 2004-28, 1993-34, 1997-44, 2008-22, 1995-1, 1998-37, 1996-42, 2006-18, 1999-4, 2008-42, 1996-27, 1997-24, 2008-21, 1998-39, 1991-52, 1998-27, 1998-40, 2003-8, 2008-2, 1997-41, 2010-22, 2002-8, 1998-12, 1998-46, 1994-36, 2005-8, 2008-38, 1992-13, 1995-28, 2009-12, 2008-10, 1991-46, 1999-8, 2002-6, 2009-10, 2001-23, 2001-4, 1996-13, 1997-31, 2003-29, 2011-17, 2004-1, 2011-14, 2005-16, 2001-15, 1997-29, 1996-20, 2001-3, 1997-32, 2000-28, 2005-25, 1992-52, 1996-43, 2001-36, 1994-45, 2011-34, 1991-11, 2006-11, 2007-30, 1998-18, 1999-31, 2011-2, 2011-31, 2002-28, 2006-27, 2006-12, 1991-30, 2003-39, 2006-9, 2004-38, 2000-5, 2012-17, 1991-49, 1997-23, 2009-50, 1999-45, 2009-30, 2009-52, 2005-34, 2000-29, 1996-6, 1995-50, 2002-4, 1991-44, 2004-53, 2001-20, 2010-33, 2011-32, 2006-51, 2010-13, 2007-23, 1996-33, 1991-14, 2003-46, 2004-45, 1999-48, 1997-39, 2008-12, 1999-42, 1996-19, 1997-45, 2001-6, 2011-44, 2008-41, 2003-26, 2004-36, 2004-51, 1998-51, 1997-51, 2000-22, 2006-21, 2010-42, 2005-48, 1993-40, 2011-43, 1996-37, 2007-26, 2010-41, 2000-1, 2008-13, 2008-17, 1995-21, 2007-34, 2004-14, 2012-8, 2003-43, 2001-21, 2001-26, 1992-33, 1991-38, 2001-32, 2002-37, 1993-28, 2006-35, 2006-44, 1992-10, 2007-5, 2004-12, 1993-47, 2010-31, 1992-37, 2010-52, 2006-5, 2001-12, 2007-46, 2012-29, 2008-1, 2008-7, 1994-6, 1992-40, 2007-33, 2006-28, 1995-19, 2005-50, 1993-17, 2003-45, 2004-13, 1995-31, 2003-36, 2001-37, 1996-31, 2008-35, 2001-48, 2002-11, 2004-23, 2007-12, 2001-42, 2007-42, 2009-26, 2000-25, 1993-43, 2003-32, 2008-25, 2012-7, 2006-45, 2012-16, 1999-44, 1992-35, 1992-50, 2003-35, 2005-52, 1994-22, 2005-3, 1993-21, 1992-11, 1991-23, 1992-41, 1993-23, 1994-7, 2003-4, 1998-48, 1999-22, 2006-50, 2002-44, 2003-28, 2008-30, 2004-42, 1998-25, 1991-41, 1993-49, 1997-6, 1993-10, 2003-20, 2011-47, 2010-8, 1999-33, 2000-24, 2006-42, 2009-22, 2007-24, 2003-15, 1993-3, 1997-12, 2003-12, 1994-25, 1999-25, 1991-7, 2011-19, 1996-38, 2005-43, 2010-21, 1997-35, 1991-18, 1999-36, 1995-23, 1997-46, 1994-27, 2001-19, 2007-50, 2000-50, 2010-37, 2011-38, 2011-28, 1999-15, 1996-22, 1995-7, 2000-30, 1996-2, 2009-28, 1999-5, 2009-44, 2001-39, 2009-27, 2011-18, 1997-38, 2007-28, 1992-32, 2006-3, 1995-34, 2007-27, 2010-19, 2002-47, 1996-3, 1997-13, 2003-22, 1994-34, 2011-1, 2008-15, 1992-38, 1998-2, 2000-7, 2007-29, 1999-40, 1993-44, 2002-10, 2009-41, 2000-36, 1991-28, 2004-20, 1997-14, 1999-12, 2005-26, 2008-16, 2003-17, 2008-39, 2008-11, 2009-9, 1998-1, 1998-52, 2004-34, 1991-45, 1993-19, 2001-46, 2011-23, 2002-2, 2010-38, 2010-28, 1993-39, 2012-38, 1995-51, 1995-14, 1999-24, 2009-40, 2002-36, 2012-4, 1991-35, 2000-8, 2003-40, 1991-48, 2010-29, 2009-11, 2003-10, 1996-21, 1994-41, 1991-43, 2004-43, 2012-37, 1994-32, 1991-27, 1994-21, 1996-36, 2006-14, 2009-21, 2009-4, 1997-8, 1992-26, 1999-30, 2002-31, 1993-16, 1999-52, 2012-24, 1996-25, 2007-16, 1995-52, 2007-15, 2010-17, 2000-32, 2008-5, 1992-53, 1999-50, 1998-29, 2001-14, 2008-43, 2006-47, 1995-20, 1995-26, 2012-10, 2000-31, 2011-8, 1994-18, 2009-43, 2002-19, 1993-41, 2004-27, 2008-4, 1999-11, 1995-16, 1999-37, 1999-41, 2010-1, 2006-41, 2010-6, 1991-10, 1992-44, 2008-14, 1992-45, 2005-11, 2012-18, 2000-47, 1996-15, 1995-32, 2009-23, 1998-16, 2003-33, 1993-27, 1998-47, 2011-29, 1993-15, 2010-39, 2001-38, 1991-39, 2010-3, 2009-20, 1996-48, 1995-9, 2011-26, 1994-17, 2011-37, 1992-42, 1992-7, 1991-51, 2006-46, 2012-27, 2005-13, 1991-19, 1995-42, 1994-39, 2012-25, 2010-14, 1993-1, 2012-19, 1998-44, 1997-42, 2005-22, 2004-35, 1999-16, 2002-40, 1993-50, 2003-27, 2005-40, 1994-43, 1996-7, 1999-17, 2008-20, 2002-29, 2006-4, 2011-35, 2003-19, 1993-52, 2005-46, 2011-6, 2008-19, 2012-35, 2003-31, 2012-13, 2001-40, 1995-37, 2000-17, 1993-9, 2010-4, 2004-21, 1999-21, 2001-45, 1994-40, 2006-43, 2004-15, 1998-26, 1997-5, 2002-23, 2012-41, 1994-38, 1997-48, 2008-27, 2002-17, 2011-22, 1994-50, 2007-49, 1998-17, 1997-50, 2004-39, 2008-29, 2002-26, 2004-40, 2003-16, 1997-26, 1996-30, 2008-32, 2011-45, 2009-32, 2008-9, 1995-6, 2000-21, 2005-42, 1999-46, 2002-15, 2007-39, 2005-28, 2000-45, 2005-31, 2002-48, 2001-18, 2002-39, 1995-10, 1999-7, 2003-7, 1997-3, 2012-20, 1992-31, 2010-2, 2001-8, 1997-36, 2005-49, 2004-30, 2000-23, 1994-52, 2000-10, 2006-2, 1993-6, 1996-5, 1991-8, 2000-40, 2000-12, 2010-32, 2011-21, 2005-17.
  return _format_order(self.data.orig_exog, order, self._causal)

In [125]:
print(selected_order.ar_lags)

[1, 2, 3, 4]

In [126]:
print(selected_order.dl_lags)

{'Box office revenue': [0, 1, 2, 3, 4]}

In [134]:
model = ARDL(
    endog=merged_violence_with_dummies['Violence_score'],
    exog=merged_violence_with_dummies.drop(columns=["Year", "Week", "Violence_score", "no. films released"]),
    lags=selected_order.ar_lags,
    order=selected_order.dl_lags, 
    trend="ct"
).fit()

# Display model summary
print(model.summary())

# Why are there no time dummies in the summary??

                              ARDL Model Results
==============================================================================
Dep. Variable:         Violence_score   No. Observations:                 1142
Model:                     ARDL(4, 4)   Log Likelihood              -10546.136
Method:               Conditional MLE   S.D. of innovations           2561.417
Date:                Wed, 11 Dec 2024   AIC                          21116.271
Time:                        18:42:03   BIC                          21176.716
Sample:                             4   HQIC                         21139.100
                                 1142
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                   281.2043    163.127      1.724      0.085     -38.863     601.271
trend                     3.7009      0.853      4.336      0.000       2.026       5.375
Violence_score.L1         0.5672      0.029     19.292      0.000       0.510       0.625
Violence_score.L2         0.1239      0.034      3.679      0.000       0.058       0.190
Violence_score.L3         0.0922      0.034      2.737      0.006       0.026       0.158
Violence_score.L4         0.1515      0.029      5.159      0.000       0.094       0.209
Box office revenue.L0  1.189e-07   3.11e-07      0.382      0.703   -4.92e-07     7.3e-07
Box office revenue.L1 -1.006e-07   3.11e-07     -0.324      0.746   -7.11e-07    5.09e-07
Box office revenue.L2 -3.937e-07   3.11e-07     -1.267      0.206      -1e-06    2.16e-07
Box office revenue.L3 -7.849e-07   3.11e-07     -2.521      0.012    -1.4e-06   -1.74e-07
Box office revenue.L4  6.056e-07   3.12e-07      1.939      0.053   -7.35e-09    1.22e-06
=========================================================================================

/Users/raphael_hellmann/anaconda3/envs/alligators/lib/python3.12/site-packages/statsmodels/tsa/ardl/model.py:455: SpecificationWarning: exog contains variables that are missing from the order dictionary.  Missing keys: 1999-51, 1991-33, 1992-18, 2007-47, 1991-20, 2006-31, 2006-25, 2007-32, 2010-30, 2002-1, 2005-38, 2011-50, 2010-25, 2007-1, 1993-36, 2000-15, 2012-30, 2008-8, 2011-42, 2005-53, 1999-14, 1995-48, 1992-43, 1995-11, 2007-7, 1995-46, 2007-41, 1992-25, 1996-40, 2005-33, 1993-46, 2009-15, 1999-18, 2008-51, 1992-15, 2001-16, 1991-4, 2001-41, 2009-33, 2010-51, 2011-51, 1993-2, 1993-13, 1994-16, 1995-47, 1995-49, 1998-45, 2008-28, 2011-49, 2002-7, 1994-35, 1993-48, 1997-52, 2003-3, 2006-26, 1996-10, 2006-37, 1992-17, 2007-17, 1991-15, 1992-16, 2003-24, 2004-29, 1994-2, 2001-9, 1998-4, 2003-1, 2010-7, 2006-49, 1991-12, 2000-35, 1999-6, 1995-13, 2005-15, 1996-45, 2005-10, 1995-36, 1995-38, 1994-37, 2004-11, 2005-12, 1993-51, 2010-43, 2006-24, 2008-40, 1997-47, 2010-50, 2002-30, 1993-35, 2000-52, 1998-28, 2005-51, 2009-1, 2004-41, 2008-44, 2004-37, 2000-11, 2007-11, 1998-38, 2005-36, 1996-50, 1996-11, 2002-50, 1998-50, 1991-16, 1998-49, 2010-23, 2001-17, 2005-2, 2008-50, 2009-49, 1993-14, 2009-16, 1996-14, 2004-52, 1995-45, 2003-44, 2006-30, 1993-11, 2001-31, 2007-6, 2003-49, 2005-44, 1993-45, 2012-26, 2001-13, 2001-29, 1996-17, 2010-9, 1998-20, 2009-7, 2007-51, 1999-29, 2012-9, 1998-9, 2009-53, 1992-1, 2005-18, 2010-34, 2012-22, 2006-20, 1992-28, 1996-1, 2000-41, 2010-40, 1992-24, 2012-36, 2009-19, 2005-9, 2000-20, 1997-34, 1991-36, 2000-39, 2003-48, 2011-39, 2006-10, 2006-15, 2000-51, 1993-38, 1991-50, 2002-51, 2007-9, 1995-39, 2000-13, 2001-25, 1994-14, 1995-24, 2004-24, 1991-25, 2002-43, 2010-12, 1992-9, 2003-47, 1993-7, 2012-23, 1998-33, 2006-23, 1997-43, 2011-46, 2002-33, 2009-51, 2011-30, 2004-3, 2004-46, 2001-50, 2004-19, 1995-30, 1997-25, 1991-29, 2012-11, 1997-16, 2004-6, 2001-43, 2006-36, 1996-16, 1998-41, 2012-1, 1995-43, 2012-28, 1991-47, 2004-17, 1993-37, 2005-41, 1999-49, 2007-31, 1997-37, 2004-5, 1996-18, 2005-29, 2004-4, 1991-17, 2001-5, 1998-53, 2007-13, 1998-3, 2008-37, 2011-27, 2002-42, 2011-16, 1991-26, 2001-49, 1994-4, 1998-10, 2009-46, 2011-24, 1997-30, 1995-12, 1994-42, 1996-46, 2002-5, 1998-30, 2004-8, 2008-49, 2005-21, 1991-6, 1994-10, 1998-24, 2006-6, 2007-52, 1992-34, 2002-3, 2005-27, 1993-25, 2007-40, 1992-14, 1993-12, 1993-4, 2011-36, 2006-1, 2010-27, 2006-39, 2002-22, 2011-3, 2004-31, 1992-12, 2002-14, 1993-30, 2012-39, 2003-51, 1998-36, 2011-20, 2002-34, 1998-5, 2003-11, 1999-28, 1991-32, 2000-3, 2004-9, 1991-22, 2011-48, 1997-33, 1998-8, 1992-8, 1998-32, 2010-16, 2002-12, 1992-30, 2009-14, 1994-33, 2002-21, 1996-29, 2000-49, 2000-19, 2009-3, 1992-5, 1996-9, 1998-23, 1993-22, 2008-18, 1992-48, 2010-47, 2010-15, 1994-5, 2002-45, 2006-38, 1991-13, 1995-41, 2008-31, 2011-7, 1999-39, 2000-43, 2002-49, 2006-13, 2007-10, 1993-42, 2003-41, 2000-48, 2012-3, 1993-20, 1991-31, 1994-13, 2003-21, 2011-15, 2003-13, 2001-44, 1997-9, 2009-29, 1996-12, 1995-44, 2006-16, 1995-29, 1995-22, 1996-4, 2010-5, 1991-21, 2004-18, 1992-3, 1991-2, 2006-34, 2000-2, 1995-25, 1995-35, 1992-4, 1994-44, 2010-11, 2008-33, 2002-25, 2002-46, 2001-30, 1999-32, 2004-10, 2010-44, 2004-44, 1994-20, 2000-16, 2005-19, 2000-26, 2008-36, 2009-42, 1994-31, 1993-31, 1994-46, 2010-35, 2000-6, 2004-50, 2007-37, 1994-49, 1992-39, 2012-34, 1999-2, 2003-6, 2010-24, 2006-22, 2009-24, 2001-34, 2001-47, 1994-29, 2003-50, 2000-33, 2011-40, 1999-35, 2008-48, 1997-18, 1996-24, 2003-9, 1996-32, 2009-5, 2009-35, 1994-30, 2002-27, 1998-42, 1997-22, 2008-47, 1992-20, 1991-34, 2001-27, 2011-12, 2009-31, 1992-19, 1997-27, 1996-26, 1999-27, 2008-6, 1992-29, 1995-8, 2007-38, 2005-24, 1998-7, 1995-5, 1999-3, 1999-43, 1992-2, 1995-2, 2007-35, 2010-53, 1994-3, 1996-39, 2011-4, 2006-52, 2002-24, 1994-48, 2000-44, 2006-29, 2008-3, 1996-41, 2002-9, 2007-2, 1992-27, 2012-21, 1993-8, 2010-20, 2012-31, 1991-5, 1995-4, 2001-35, 1992-47, 2012-15, 2009-6, 1991-24, 1997-40, 1999-19, 1993-5, 1994-15, 1996-23, 1998-34, 2003-2, 2007-36, 2007-43, 2007-44, 2012-2, 2003-5, 1997-7, 2003-23, 1998-11, 2003-30, 2003-38, 1999-13, 2006-48, 2010-36, 1991-37, 1994-24, 1995-15, 2011-5, 2000-38, 2008-26, 1993-18, 1999-38, 2000-42, 1997-20, 2007-18, 2009-36, 2010-46, 2009-8, 2009-39, 1997-28, 1994-28, 1997-11, 2005-6, 2012-5, 2001-11, 2003-37, 2001-22, 2004-16, 2007-8, 2002-41, 1997-15, 1997-10, 2005-20, 1996-28, 2002-35, 2005-30, 1992-21, 1994-19, 1995-18, 2012-32, 2006-7, 1999-47, 1994-11, 1999-20, 2007-25, 1996-49, 1997-19, 2007-22, 2005-39, 1991-9, 1995-40, 1999-34, 2009-25, 2009-13, 1998-31, 1998-14, 2004-25, 2006-8, 1992-6, 2010-10, 1994-26, 2001-1, 2001-7, 2011-10, 2001-52, 1994-23, 2011-33, 2009-38, 2000-9, 2000-46, 2007-20, 2008-34, 1999-9, 2002-16, 2008-23, 1997-21, 2008-46, 2008-45, 2000-18, 2005-4, 2001-28, 1996-47, 2007-3, 2009-18, 2009-37, 1995-33, 2004-2, 2009-34, 1994-12, 1994-47, 1997-17, 2000-34, 2003-14, 2004-32, 1995-3, 2011-9, 1993-26, 1997-1, 2011-13, 2010-45, 1992-22, 1996-34, 2004-33, 1993-33, 2007-45, 2005-45, 2000-14, 1996-52, 2006-33, 2000-4, 2012-12, 2006-40, 2003-42, 2010-48, 2012-40, 1999-10, 2005-7, 2012-6, 2003-18, 1991-3, 1994-1, 2006-32, 1999-23, 2001-10, 2011-11, 2012-42, 1994-9, 1991-42, 2004-7, 2004-48, 2010-26, 1997-4, 2002-18, 2005-47, 2003-52, 1992-51, 1996-51, 2005-32, 1998-43, 2000-27, 1996-35, 1995-17, 1997-2, 2005-5, 2007-4, 1999-26, 2004-47, 1993-53, 2005-23, 2005-14, 1993-29, 1998-19, 1992-23, 1996-44, 1996-8, 1993-32, 2006-17, 2009-2, 2005-35, 1998-35, 1998-6, 1998-13, 2005-1, 1992-46, 2000-37, 2011-25, 2007-19, 2009-47, 1992-36, 1994-51, 2001-51, 2012-14, 1991-40, 1998-15, 1998-22, 2009-45, 2010-49, 2002-38, 2007-14, 2002-13, 2002-52, 2003-34, 2010-18, 1995-27, 2011-52, 1994-8, 1993-24, 2004-49, 2012-33, 2009-17, 2003-25, 2007-21, 2006-19, 1998-21, 1992-49, 2002-20, 2002-32, 2004-26, 1999-1, 2008-24, 2005-37, 1999-53, 2009-48, 2011-41, 1997-49, 2008-52, 2001-24, 2007-48, 2004-22, 2001-2, 2001-33, 2004-28, 1993-34, 1997-44, 2008-22, 1995-1, 1998-37, 1996-42, 2006-18, 1999-4, 2008-42, 1996-27, 1997-24, 2008-21, 1998-39, 1991-52, 1998-27, 1998-40, 2003-8, 2008-2, 1997-41, 2010-22, 2002-8, 1998-12, 1998-46, 1994-36, 2005-8, 2008-38, 1992-13, 1995-28, 2009-12, 2008-10, 1991-46, 1999-8, 2002-6, 2009-10, 2001-23, 2001-4, 1996-13, 1997-31, 2003-29, 2011-17, 2004-1, 2011-14, 2005-16, 2001-15, 1997-29, 1996-20, 2001-3, 1997-32, 2000-28, 2005-25, 1992-52, 1996-43, 2001-36, 1994-45, 2011-34, 1991-11, 2006-11, 2007-30, 1998-18, 1999-31, 2011-2, 2011-31, 2002-28, 2006-27, 2006-12, 1991-30, 2003-39, 2006-9, 2004-38, 2000-5, 2012-17, 1991-49, 1997-23, 2009-50, 1999-45, 2009-30, 2009-52, 2005-34, 2000-29, 1996-6, 1995-50, 2002-4, 1991-44, 2004-53, 2001-20, 2010-33, 2011-32, 2006-51, 2010-13, 2007-23, 1996-33, 1991-14, 2003-46, 2004-45, 1999-48, 1997-39, 2008-12, 1999-42, 1996-19, 1997-45, 2001-6, 2011-44, 2008-41, 2003-26, 2004-36, 2004-51, 1998-51, 1997-51, 2000-22, 2006-21, 2010-42, 2005-48, 1993-40, 2011-43, 1996-37, 2007-26, 2010-41, 2000-1, 2008-13, 2008-17, 1995-21, 2007-34, 2004-14, 2012-8, 2003-43, 2001-21, 2001-26, 1992-33, 1991-38, 2001-32, 2002-37, 1993-28, 2006-35, 2006-44, 1992-10, 2007-5, 2004-12, 1993-47, 2010-31, 1992-37, 2010-52, 2006-5, 2001-12, 2007-46, 2012-29, 2008-1, 2008-7, 1994-6, 1992-40, 2007-33, 2006-28, 1995-19, 2005-50, 1993-17, 2003-45, 2004-13, 1995-31, 2003-36, 2001-37, 1996-31, 2008-35, 2001-48, 2002-11, 2004-23, 2007-12, 2001-42, 2007-42, 2009-26, 2000-25, 1993-43, 2003-32, 2008-25, 2012-7, 2006-45, 2012-16, 1999-44, 1992-35, 1992-50, 2003-35, 2005-52, 1994-22, 2005-3, 1993-21, 1992-11, 1991-23, 1992-41, 1993-23, 1994-7, 2003-4, 1998-48, 1999-22, 2006-50, 2002-44, 2003-28, 2008-30, 2004-42, 1998-25, 1991-41, 1993-49, 1997-6, 1993-10, 2003-20, 2011-47, 2010-8, 1999-33, 2000-24, 2006-42, 2009-22, 2007-24, 2003-15, 1993-3, 1997-12, 2003-12, 1994-25, 1999-25, 1991-7, 2011-19, 1996-38, 2005-43, 2010-21, 1997-35, 1991-18, 1999-36, 1995-23, 1997-46, 1994-27, 2001-19, 2007-50, 2000-50, 2010-37, 2011-38, 2011-28, 1999-15, 1996-22, 1995-7, 2000-30, 1996-2, 2009-28, 1999-5, 2009-44, 2001-39, 2009-27, 2011-18, 1997-38, 2007-28, 1992-32, 2006-3, 1995-34, 2007-27, 2010-19, 2002-47, 1996-3, 1997-13, 2003-22, 1994-34, 2011-1, 2008-15, 1992-38, 1998-2, 2000-7, 2007-29, 1999-40, 1993-44, 2002-10, 2009-41, 2000-36, 1991-28, 2004-20, 1997-14, 1999-12, 2005-26, 2008-16, 2003-17, 2008-39, 2008-11, 2009-9, 1998-1, 1998-52, 2004-34, 1991-45, 1993-19, 2001-46, 2011-23, 2002-2, 2010-38, 2010-28, 1993-39, 2012-38, 1995-51, 1995-14, 1999-24, 2009-40, 2002-36, 2012-4, 1991-35, 2000-8, 2003-40, 1991-48, 2010-29, 2009-11, 2003-10, 1996-21, 1994-41, 1991-43, 2004-43, 2012-37, 1994-32, 1991-27, 1994-21, 1996-36, 2006-14, 2009-21, 2009-4, 1997-8, 1992-26, 1999-30, 2002-31, 1993-16, 1999-52, 2012-24, 1996-25, 2007-16, 1995-52, 2007-15, 2010-17, 2000-32, 2008-5, 1992-53, 1999-50, 1998-29, 2001-14, 2008-43, 2006-47, 1995-20, 1995-26, 2012-10, 2000-31, 2011-8, 1994-18, 2009-43, 2002-19, 1993-41, 2004-27, 2008-4, 1999-11, 1995-16, 1999-37, 1999-41, 2010-1, 2006-41, 2010-6, 1991-10, 1992-44, 2008-14, 1992-45, 2005-11, 2012-18, 2000-47, 1996-15, 1995-32, 2009-23, 1998-16, 2003-33, 1993-27, 1998-47, 2011-29, 1993-15, 2010-39, 2001-38, 1991-39, 2010-3, 2009-20, 1996-48, 1995-9, 2011-26, 1994-17, 2011-37, 1992-42, 1992-7, 1991-51, 2006-46, 2012-27, 2005-13, 1991-19, 1995-42, 1994-39, 2012-25, 2010-14, 1993-1, 2012-19, 1998-44, 1997-42, 2005-22, 2004-35, 1999-16, 2002-40, 1993-50, 2003-27, 2005-40, 1994-43, 1996-7, 1999-17, 2008-20, 2002-29, 2006-4, 2011-35, 2003-19, 1993-52, 2005-46, 2011-6, 2008-19, 2012-35, 2003-31, 2012-13, 2001-40, 1995-37, 2000-17, 1993-9, 2010-4, 2004-21, 1999-21, 2001-45, 1994-40, 2006-43, 2004-15, 1998-26, 1997-5, 2002-23, 2012-41, 1994-38, 1997-48, 2008-27, 2002-17, 2011-22, 1994-50, 2007-49, 1998-17, 1997-50, 2004-39, 2008-29, 2002-26, 2004-40, 2003-16, 1997-26, 1996-30, 2008-32, 2011-45, 2009-32, 2008-9, 1995-6, 2000-21, 2005-42, 1999-46, 2002-15, 2007-39, 2005-28, 2000-45, 2005-31, 2002-48, 2001-18, 2002-39, 1995-10, 1999-7, 2003-7, 1997-3, 2012-20, 1992-31, 2010-2, 2001-8, 1997-36, 2005-49, 2004-30, 2000-23, 1994-52, 2000-10, 2006-2, 1993-6, 1996-5, 1991-8, 2000-40, 2000-12, 2010-32, 2011-21, 2005-17.
  return _format_order(self.data.orig_exog, order, self._causal)