In [118]:
import pandas as pd

import sys
sys.path.append("../src/model")

#from ARDL_model import ARDL_model_func

import ARDL_model
print(dir(ARDL_model))

['ARDL_model', 'RegressionResultsWrapper', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'diagnostic', 'np', 'pd', 'sm', 'smf', 'stats']

In [111]:
DATA_PATH = "../data/CLEAN"

df_box_offices = pd.read_csv(DATA_PATH+"/Violent_Movies_final.tsv", sep="\t")

In [112]:
# Testing out the ARDL model: 
TEST = ARDL_model(df_box_offices)

In [113]:
TEST.head()

   Year  Week  no. films released  Box office revenue
0  1913    33                   1            980000.0
1  1914    46                   1             87028.0
2  1915     6                   1          50000000.0
3  1923    47                   1           4168790.0
4  1924    49                   1            274827.0

In [16]:
box_revenues_clean = df_box_offices.dropna()

In [78]:
weekly_revenues = box_revenues_clean.groupby(["Year", "Week"])["Box office revenue"].sum().reset_index()
weekly_no_films = box_revenues_clean.groupby(["Year", "Week"]).size().reset_index(name="no. films released")

weekly_films_revenues = pd.merge(weekly_no_films, weekly_revenues, on=["Year", "Week"], how="left") 
weekly_films_revenues_sorted = weekly_films_revenues.sort_values(["Year", "Week"], ascending=True)

In [79]:
weekly_films_revenues_sorted.head()

   Year  Week  no. films released  Box office revenue
0  1913    33                   1            980000.0
1  1914    46                   1             87028.0
2  1915     6                   1          50000000.0
3  1923    47                   1           4168790.0
4  1924    49                   1            274827.0