In [1]:
import pandas as pd
from statsmodels.tsa.ardl import ardl_select_order
import numpy as np

import sys
sys.path.append("../src/model")

from ARDL_model import ARDL_model_func

In [2]:
DATA_PATH = "../data/CLEAN"

df_box_offices = pd.read_csv(DATA_PATH+"/Violent_Movies_final.tsv", sep="\t")

In [3]:
# Testing out the ARDL model: 
weekly_revenue_films = ARDL_model_func(df_box_offices)

In [4]:
# QUESTIONS
# 1) Only take the years 1950-2012 ? In other years we have nearly no weekly values ? Due to wars ? 
# 2) Fill all missing weeks with 0 films and 0 box_office_revenue


weekly_revenue_films.head()

   Year  Week  no. films released  Box office revenue
0  1913    33                   1            980000.0
1  1914    46                   1             87028.0
2  1915     6                   1          50000000.0
3  1923    47                   1           4168790.0
4  1924    49                   1            274827.0

In [5]:
EXOG = weekly_revenue_films
EXOG

      Year  Week  no. films released  Box office revenue
0     1913    33                   1            980000.0
1     1914    46                   1             87028.0
2     1915     6                   1          50000000.0
3     1923    47                   1           4168790.0
4     1924    49                   1            274827.0
...    ...   ...                 ...                 ...
1824  2012    36                   5         312845733.0
1825  2012    38                   1          10473039.0
1826  2012    39                   1         136513833.0
1827  2012    41                   1           2005099.0
1828  2012    42                   1          91941891.0

[1829 rows x 4 columns]

In [13]:
# Setting the time frame for the auto-regressive part
max_auto_lag = 4            # take into account max. 4 previous timesteps

# Setting the time span for the distributed lag part
max_film_lag = 4            # take into account max. 4 previous timesteps
max_unemployment_lag = 1    # take into account max 1 previous timestep

# Include time-fixed effects
#time_fixed = True

# Include additional confounding factors
#include_confounding = True

# Get indicator variables for the year-week
EXOG["Year-Week"] = EXOG["Year"].astype(str) + "-" + EXOG["Week"].astype(str)
EXOG

      Year  Week  no. films released  Box office revenue Year-Week
0     1913    33                   1            980000.0   1913-33
1     1914    46                   1             87028.0   1914-46
2     1915     6                   1          50000000.0    1915-6
3     1923    47                   1           4168790.0   1923-47
4     1924    49                   1            274827.0   1924-49
...    ...   ...                 ...                 ...       ...
1824  2012    36                   5         312845733.0   2012-36
1825  2012    38                   1          10473039.0   2012-38
1826  2012    39                   1         136513833.0   2012-39
1827  2012    41                   1           2005099.0   2012-41
1828  2012    42                   1          91941891.0   2012-42

[1829 rows x 5 columns]

In [18]:
# Create time dummies for weekly time-fixed effects
time_dummies = pd.get_dummies(EXOG["Year-Week"], drop_first=True).astype(int)
EXOG_with_dummies = pd.concat([EXOG.drop(columns="Year-Week"), time_dummies], axis=1)
EXOG_with_dummies.head()

,Year,Week,no. films released,Box office revenue,1914-46,1915-6,1923-47,1924-49,1925-53,1926-52,...,2012-35,2012-36,2012-38,2012-39,2012-4,2012-41,2012-42,2012-6,2012-7,2012-8
0,1913,33,1,980000.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1914,46,1,87028.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1915,6,1,50000000.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1923,47,1,4168790.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1924,49,1,274827.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
random_integers = np.random.randint(0, 100, size=1829)  # Adjust the range (0, 100) as needed

# Create the DataFrame
violence = pd.DataFrame({'violence_score': random_integers})

In [20]:
print(EXOG_with_dummies.dtypes)

Year                    int64
Week                    int64
no. films released      int64
Box office revenue    float64
1914-46                 int64
                       ...
2012-41                 int64
2012-42                 int64
2012-6                  int64
2012-7                  int64
2012-8                  int64
Length: 1832, dtype: object

In [21]:
# Automatically select lag order based on AIC
# Call ardl_select_order function
selected_order = ardl_select_order(
    endog=violence['violence_score'], 
    exog=EXOG_with_dummies, 
    maxlag=max_auto_lag, 
    maxorder={"Box office revenue": max_film_lag}, 
    ic='aic'
)

/Users/raphael_hellmann/anaconda3/envs/alligators/lib/python3.12/site-packages/statsmodels/tsa/ardl/model.py:455: SpecificationWarning: exog contains variables that are missing from the order dictionary.  Missing keys: 2005-36, 1992-19, 1995-17, 2006-20, 1992-39, 1986-26, 1997-1, 2011-49, 2008-20, 2007-7, 2007-17, 2002-1, 1981-21, 2007-8, 2008-33, 2010-9, 2006-12, 1987-40, 1993-16, 2010-16, 1985-1, 1987-32, 1966-8, 1995-7, 2009-45, 2009-8, 1992-45, 1985-40, 2009-6, 1956-30, 2008-42, 2011-14, 2010-23, 2010-14, 1983-49, 2003-2, 2004-29, 1963-25, 1985-18, 2012-26, 1989-32, 1948-35, 2010-25, 1994-40, 2000-14, 1989-41, 2004-3, 1986-13, 1942-52, 2009-43, 1986-2, 2004-46, 2007-50, 1983-10, 2011-51, 1951-8, 1979-43, 1984-35, 1987-21, 2011-39, 1955-35, 1992-43, 2000-5, 2003-8, 1990-18, 1945-22, 1976-41, 1989-12, 2007-36, 1962-40, 1988-27, 1980-20, 2004-26, 1984-49, 2009-20, 1981-30, 2007-38, 2007-49, 2004-44, 1980-47, 1997-33, 1986-9, 1971-6, 2002-39, 1987-11, 1988-9, 1956-4, 1977-50, 1943-1, 1982-13, 2010-47, 1996-29, 1971-10, 1993-30, 1976-14, 1991-3, 1981-33, 2003-28, 2002-19, 1990-45, 1985-48, 1990-46, 1997-51, 1987-19, 2012-25, 2009-37, 1983-19, 1997-23, 1970-26, 1999-4, 1963-49, 1982-43, 2010-5, 1991-51, 2011-25, 1992-52, 2007-33, 1997-32, 1988-37, 1989-21, 1995-10, 1982-27, 1949-46, 2007-27, 1941-33, 1993-11, 2007-24, 1998-48, 1986-49, 1984-2, 1994-36, 2005-17, 1993-49, 1950-27, 1970-24, 2012-4, 1977-24, 1991-41, 2002-47, 1968-41, 1986-7, 1989-30, 1997-34, 1957-40, 1988-51, 1989-40, 1975-52, 1932-15, 1966-30, 1936-6, 1959-14, 1956-41, 1975-25, 1993-21, 1958-40, 1991-52, 1944-18, 1988-21, 1981-29, 1997-24, 1939-4, 2000-50, 1932-53, 1991-44, 1974-47, 1985-6, 2006-27, 1953-28, 2000-28, 1976-31, 1995-9, 1994-49, 1946-1, 1997-39, 1987-37, 1996-49, 1997-13, 1993-19, 1985-51, 1996-39, 2006-24, 2011-5, 1995-43, 1967-7, 2010-40, 2008-30, 2005-23, 1984-23, 2002-10, 1969-51, 1988-6, 2006-18, 1949-19, 1970-25, 1962-24, 1992-28, 1937-9, 1995-20, 2008-44, 2002-43, 1981-32, 1987-46, 1993-2, 2000-18, 1996-42, 1990-30, 1996-36, 1951-47, 2007-37, 1968-43, 1994-25, 1979-24, 1974-21, 1942-6, 2005-26, 2000-46, 2000-47, 2002-34, 2000-48, 2007-3, 1984-13, 1994-34, 2009-7, 2005-45, 1973-8, 1968-51, 1997-18, 2002-9, 1993-43, 1989-6, 1988-40, 1979-22, 1997-4, 2006-16, 2003-48, 1967-24, 1985-35, 1995-51, 1987-33, 1979-33, 2009-9, 2010-8, 1982-53, 1999-28, 1996-8, 1985-21, 1982-20, 1982-11, 1994-31, 1987-6, 2000-4, 1995-23, 1982-4, 1990-38, 1954-24, 2012-24, 2005-14, 2006-29, 2006-8, 1951-11, 1997-28, 2011-12, 1950-38, 2004-30, 1999-17, 2012-10, 2010-27, 1943-51, 1999-48, 1997-36, 1988-14, 1983-7, 1992-21, 2001-10, Week, 2000-20, 1997-35, 2003-25, 1968-27, 1960-49, 1973-16, 1972-11, 2002-18, 1987-27, 1957-51, 1984-38, 2005-50, 2006-4, 1998-53, 1982-3, 2006-25, 2004-16, 1952-38, 1983-42, 2005-49, 1992-50, 1989-50, 1979-31, 2000-8, 1955-52, 2010-20, 2000-30, 1959-47, 1951-19, 1954-29, 1976-15, 2001-47, 2000-3, 2006-38, 1984-50, 1971-25, 1986-51, 2011-45, 2012-39, 1974-42, 1989-14, 1989-22, 1989-20, 1976-22, 1988-41, 2000-32, 2001-28, 2005-19, 1974-14, 1991-19, 2010-19, 1956-26, 1981-34, 1998-46, 1954-43, 2001-40, 1994-14, 1993-33, 2005-10, 1986-32, 1993-18, 1997-16, 2011-29, 2002-33, 1987-10, 2011-15, 2009-12, 1971-20, 1996-15, 1981-47, 1951-49, 1985-20, 1990-16, 1990-31, 2004-13, 1972-50, 1914-46, 1936-26, 1999-26, 1988-45, 1993-34, 1970-5, 2008-10, 1984-42, 1933-6, 1938-21, 1973-47, 1964-28, 1994-33, 1985-31, 1957-25, 1987-3, 1988-13, 2009-26, 1949-52, 1995-24, 1992-12, 1995-11, 1963-27, 1986-41, 1996-24, 1995-6, 1983-37, 1935-45, 2005-11, 2003-16, 1980-42, 1987-28, 1998-7, 1952-45, 1973-40, 1993-9, 1980-18, 1952-25, 2004-8, 1949-31, 2004-20, 1978-49, 1996-48, 2008-1, 1992-48, 1993-37, 2005-51, 1936-20, 1977-21, 1994-19, 2003-10, 2009-44, 1987-17, 2006-31, 1952-6, 2009-11, 1995-42, 1979-25, 1993-36, 2001-35, 1951-42, 2009-38, 1984-22, 1989-35, 1930-52, 2009-35, 1977-25, 2006-26, 1952-41, 1989-4, 1951-33, 1999-25, 1997-45, 2000-52, 2012-38, 1989-37, 2004-17, 2006-21, 2007-47, 2001-4, 2007-16, 2011-18, 1987-20, 1952-42, 1985-46, 2005-28, 1999-43, 1953-17, 1986-47, 2004-5, 2006-32, 1984-32, 2004-23, 2009-5, 2003-5, 2010-29, 1956-13, 2006-3, 1940-33, 1968-22, 2002-3, 1999-13, 1978-22, 1995-30, 1999-47, 1983-16, 2010-21, 2012-22, 1991-28, 1993-46, 2009-17, 1992-9, 1990-24, 1997-21, 2003-46, 2009-15, 1980-40, 1991-36, 1991-50, 1967-31, 1978-46, 1954-51, 1985-44, 1956-22, 1993-27, 2012-23, 2003-4, 2006-10, 1950-13, 1998-5, 1986-23, 1994-35, 1998-37, 1991-17, 2008-9, 1971-16, 1987-45, 2012-20, 1988-8, 2009-48, 2001-24, 1935-52, 1955-26, 1950-28, 1968-25, 1980-46, 1951-45, 1957-41, 2009-25, 1983-39, 2001-20, 1993-5, 1999-7, 1999-6, 1957-28, 1986-30, 2009-23, 1944-17, 2007-12, 1967-12, 2010-4, 1984-31, 1980-33, 1952-35, 2005-41, 1992-41, 1983-20, 1994-21, 1995-14, 1992-37, 1995-31, 1975-18, 2002-29, 2006-37, 1992-23, 1992-13, 1938-19, 1991-27, 2002-31, 1981-51, 1997-41, 2000-38, 1954-36, 2006-48, 1998-15, 2010-13, 1957-26, 2012-42, 1986-27, 1961-42, 1983-48, 1987-43, 1996-21, 2012-8, 1994-22, 1982-34, 2008-15, 2008-31, 1958-6, 1984-9, 2000-43, 1977-51, 1999-29, 1996-9, 2010-45, 1953-25, 1999-5, 1959-51, 1990-21, 1915-6, 1998-31, 2001-17, 1994-44, 2008-38, 2006-23, 1974-40, 1952-43, 1994-41, 2002-36, 1968-49, 1949-41, 1994-43, 1951-50, 1977-11, 1979-38, 2002-50, 1980-7, 1992-33, 1989-2, 1974-44, 1986-20, 1993-52, 1976-51, 1951-1, 2011-13, 1999-27, 1986-10, 1932-10, 1956-14, 1999-39, 1954-25, 2005-47, 1966-51, 1993-22, 1994-30, 1996-34, 1988-3, 1993-10, 1999-42, 1957-32, 2011-35, 2000-42, 1953-42, 2006-6, 1960-40, 2007-26, 1990-10, 2002-21, 2001-11, 1995-28, 2002-6, 1990-27, 1975-26, 2001-7, 1981-44, 2001-44, 2005-21, 1990-36, 1925-53, 1996-44, 1952-52, 1977-23, 2012-36, 1987-8, 1924-49, 2001-52, 2009-2, 2003-34, 1999-16, 1935-33, 1997-43, 1999-45, 1986-45, 2000-26, 1992-3, 1962-44, 1962-12, 2008-13, 1946-3, 2005-46, 1945-44, 2000-11, 1934-33, 2003-40, 1950-29, 1999-15, 1957-49, 1985-41, 1977-8, 2012-29, 1970-50, 1988-20, 1974-20, 2002-11, 2004-21, 1954-38, 1992-4, 1994-28, 1998-21, 1993-14, 1994-38, 1956-39, 1998-20, 2000-31, 2012-19, 2001-16, 2004-14, 1968-14, 1981-13, 1996-45, 2005-3, 1976-52, 2001-14, 1955-38, 2010-31, 1967-33, 1995-5, 1973-11, 2008-27, 1989-19, 2005-20, 1957-39, 1983-21, 1957-18, 1984-48, 1987-12, 2002-46, 1940-20, 2011-34, 1982-26, 1993-6, 1980-25, 1979-42, 2007-52, 1984-21, 2001-36, 2004-31, 1996-20, 1958-47, 1995-36, 1969-41, 2004-12, 1953-4, 2009-3, 1992-47, 1967-15, 1988-52, 1989-18, 1965-51, 1990-50, 1954-5, 1963-13, 2006-35, 1953-6, 1999-9, 1989-36, 2008-52, 1989-26, 1971-53, 2007-13, 1940-44, 1980-29, 1992-17, 2008-11, 1968-6, 1975-21, 1953-18, 1975-19, 2005-44, 1938-52, 1999-37, 1991-30, 1998-33, 1981-49, 1972-51, 1983-44, 1996-41, 1992-51, 1953-15, 1951-24, 1990-19, 2006-45, 1990-43, 1984-46, 2012-21, 1966-23, 2012-35, 2005-12, 2005-7, 1982-45, 2007-4, 1995-13, 1976-26, 2003-38, 2011-7, 1991-7, 1974-25, 1949-21, 1956-11, 1984-25, 1987-23, 1997-37, 1994-50, 2005-29, 1988-1, 1972-41, 2005-31, 1996-35, 2006-52, 2001-26, 2010-38, 1994-39, 1998-4, 1957-8, 1994-2, 1982-30, 1956-23, 2003-6, 1998-11, 1962-43, 1998-12, 2008-29, 1990-20, 2004-4, 2000-21, 1982-49, 2007-15, 2000-40, 1990-29, 1967-50, 1951-26, 1956-44, 2011-20, 1996-6, 1998-14, 1996-19, 1990-9, 1965-4, 1994-26, 1949-44, 2002-2, 1997-20, 2000-35, 2002-22, 1955-39, 2008-12, 1977-10, 1980-19, 2006-51, 1972-22, 1996-43, 1988-48, 2002-44, 1996-32, 1988-50, 1993-41, 2009-40, 2010-49, 1999-3, 1942-49, 1954-21, 1986-33, 2005-35, 2009-19, 2011-33, 2011-10, 2007-48, 1950-45, 1970-7, 1987-36, 1956-16, 1980-9, 1984-40, 2000-2, 1995-50, 2008-7, 1991-32, 1951-43, 1987-13, 2012-30, 2004-6, 1999-36, 1994-32, 1983-25, 2003-32, 1992-31, 2011-43, 2002-35, 2012-28, 1987-18, 1996-28, 2001-22, 2006-33, 2001-32, 2009-32, 1934-13, 1986-19, 1993-35, 1996-40, 2002-27, 1988-31, 2007-6, 2004-37, 1963-24, 2003-52, 2004-50, 2006-2, 1987-24, 2008-2, 1952-44, 1986-25, 2010-33, 1965-16, 1985-36, 1986-16, 1980-28, 2000-29, 2008-34, 1942-48, 2003-13, 2002-40, 1983-23, 2003-9, 1956-35, 1981-19, 1979-13, 1949-50, 2011-37, 1999-20, 2006-7, 1983-40, 2010-34, 2005-18, 2006-50, 1953-38, 2003-43, 1969-19, 1997-30, 2003-21, 1935-34, 2008-26, 1951-22, 1987-2, 2001-19, 2007-40, 1989-42, 1994-29, 1978-23, 2007-2, 1982-17, 2007-39, 2001-5, 1998-29, 2012-41, 1993-44, 2002-25, 2011-50, 1959-13, 2011-8, 1997-5, 1993-23, 1991-24, 1991-40, 1993-13, 1995-37, 1994-6, 2008-35, 2011-9, 1996-37, 2006-41, 2011-32, 2010-3, 1974-52, 1954-15, 1988-5, 1946-47, 1934-7, 2004-42, 1983-9, 1976-28, 1990-3, 2003-37, 1972-26, 1990-49, 1996-27, 2006-46, 2004-51, 1995-38, 2002-28, 1980-6, 1974-46, 1952-46, 1985-50, 1940-27, 1950-25, 1981-17, 1969-24, 2002-42, 1982-21, 1971-24, 1978-28, 1966-28, 2009-16, 1981-52, 1957-12, 1991-22, 1986-15, 1926-52, 1991-10, 2011-3, 1951-48, 1989-9, 1998-45, 2002-24, 1975-33, 1990-1, 1948-29, 2001-43, 1984-45, 1997-27, 2007-18, 1959-5, 1993-47, 1998-50, 1989-33, 1993-15, 1950-52, 1980-37, 2008-21, 2000-27, 1999-30, 1997-22, 2012-34, 1988-36, 1993-4, 1997-17, 1951-5, 1998-34, 1997-38, 1957-45, 1974-38, 1968-24, 1953-32, 1982-38, 1995-41, 2002-7, 1985-30, 1993-20, 2009-31, 2012-31, 1955-44, 1971-33, 1976-17, 2008-22, 1987-9, 1998-39, 1985-25, 1994-51, 1999-24, 1959-52, 2003-33, 2008-14, 2001-23, 1996-2, 1984-33, 1973-25, 1989-5, 1932-32, 1987-39, 1953-49, 2006-42, 2005-24, 2006-49, 1997-3, 1949-51, 1956-48, 1960-11, 1956-40, 1998-18, 1951-4, 2004-32, 1990-37, 1977-34, 1997-15, 1991-18, 1975-17, 1994-24, 1997-11, 2001-21, 1993-8, 1985-39, 1991-47, 1987-47, 2005-1, 1989-8, 1996-14, 1984-37, 2012-27, 1986-21, 1988-15, 2007-41, 1999-2, 1978-25, 1983-46, 1955-22, 1982-12, 1989-46, 1996-5, 1998-23, 1971-21, 2004-18, 1977-6, 1966-29, 1978-51, 1996-47, 2005-2, 2010-37, 2000-41, 2008-32, 1978-35, 1951-14, 2006-19, 2006-39, 1987-44, 2002-30, 1949-45, 2003-47, 1956-51, 1986-50, 1990-44, 1983-30, 2006-13, 2010-39, 1957-50, 2003-27, 1935-16, 1994-10, 1998-8, 2001-2, 1969-39, 1980-16, 1935-17, 1947-1, 1978-1, 1984-36, 1980-51, 1954-10, 1992-6, 2001-45, 1937-4, 2007-29, 2000-37, 1958-21, 2000-33, 1983-18, 1985-28, 1998-25, 1998-43, 1948-21, 1996-30, 2011-46, 2003-51, 1953-31, 2003-39, 1955-49, 1952-32, 1970-22, 1968-31, 1999-46, 1998-24, 1957-19, 1998-49, 2003-15, 1994-7, 1985-33, 2007-30, 2000-36, 1967-21, 1956-5, 1977-44, 2001-30, 1998-42, 1985-24, 1983-31, 1975-1, 1985-42, 1972-44, 1995-22, 2008-39, 2007-32, 2011-31, 1970-13, 1994-17, 1972-30, 1955-7, 1953-22, 1986-3, 1983-41, 2007-14, 2008-23, 1998-9, 2002-49, 2009-41, 1990-25, 1996-25, 1974-1, 1995-21, 1978-24, 1988-44, 1990-14, 2010-6, 2000-10, 1992-36, 2000-51, 2004-33, 2004-47, 2002-12, 1966-34, 1992-35, 1996-38, 2011-41, 2012-15, 1991-6, 1979-19, 2001-27, 1987-26, 2005-4, 1993-40, 1955-19, 2010-24, 1993-29, 1967-44, 2011-27, 2009-47, 1982-22, 1987-49, 1955-1, 1951-12, 1990-11, 2008-28, 1996-18, 1951-6, 2008-50, 1951-25, 1952-26, 2003-36, 1968-40, 2010-26, 1982-9, 1991-38, 1988-17, 1995-15, 1936-8, 2000-34, 1995-47, 2000-44, 2008-18, 1954-13, 1954-48, 1983-29, 1960-33, 1989-51, 2004-19, 1981-24, 2005-39, 2004-35, 1976-25, 2009-52, 2001-29, 2002-17, 1939-25, 1952-48, 1932-37, 2003-14, 1978-26, 2002-32, 1992-30, 2007-11, 1999-38, 2006-9, 1972-49, 1998-32, 1951-38, 1994-13, 1995-32, 1988-24, 2005-6, 2006-14, 2001-37, 1978-13, 1988-23, 2008-43, 1991-21, 1974-31, 2004-11, 1989-25, 1984-7, 1994-42, 2007-44, 1991-35, 1994-37, 1933-51, 2010-41, 2008-49, 1985-47, 1986-39, 2010-42, 2002-20, 2000-19, 2005-43, 1996-17, 1992-38, 1995-8, 2010-12, 1983-3, 1971-51, 1956-36, 2007-43, 1992-5, 2011-17, 1982-29, 1955-43, 1981-15, 2009-36, 1985-13, 2006-15, 1990-4, 1995-39, 1967-35, 1994-47, 1954-39, 1976-27, 2010-2, 1940-46, 2004-36, 1990-47, 1997-31, 1930-46, 1981-7, 1990-41, 1984-4, 1992-40, 1980-38, 1995-44, 2003-11, 1955-13, 1997-46, 1997-8, 1990-39, 1953-24, 1976-6, 1992-16, 1957-42, 2005-37, 1960-20, 1980-36, 2003-20, 2010-46, 1995-48, 2010-48, 2001-49, 2011-30, 1978-31, 1988-19, 1961-51, 1953-21, 1997-14, 2010-35, 1996-22, 2008-17, 1986-1, 1990-5, 1996-26, 1984-15, 1987-31, 1951-52, 2003-42, 1973-52, 1982-48, 2001-6, 1988-32, 1988-29, 1968-39, 1953-52, 1955-4, 1988-38, 1996-50, 2009-46, 1988-47, 1984-11, 2000-16, 2007-22, 1978-7, 2002-4, 2001-42, 1990-32, 1969-50, 1955-50, 2006-36, 1957-11, 1998-17, 2010-10, 2000-24, 1967-43, 1999-35, no. films released, 1994-16, 2008-4, 1993-26, 2009-49, 1995-46, 2011-38, 1996-4, 1978-43, 1974-50, 2003-41, 2007-9, 1998-52, 1990-34, 1997-19, 1980-21, 1997-50, 2000-7, 2002-5, 2012-7, 2006-34, 1934-8, 2003-44, 1994-48, 2005-34, 1999-10, 2003-49, 2006-11, 1969-25, 1976-50, 1998-26, 1931-47, 1984-10, 2009-39, 1966-25, 1987-51, 1979-27, 1989-27, 1975-24, 1996-16, 1954-16, 1999-31, 1951-35, 1985-7, 1992-11, 1962-27, 1959-29, 1966-44, 2008-41, 1982-32, 2003-22, 1955-6, 1953-33, 1948-52, 1952-11, 2003-19, 1979-5, 1997-42, 2004-43, 1989-31, 1957-30, 1983-12, 2002-52, 1999-51, 1990-40, 2001-46, 1997-52, 1988-16, 2001-39, 2000-9, 2010-36, 1933-27, 2011-16, 1988-42, 1986-29, 2010-30, 1992-32, 1953-1, 1987-35, 1956-19, 2005-48, 2001-3, 1999-21, 2010-15, 1980-52, 2008-24, 1990-28, 2001-48, 1999-23, 1995-3, 1981-39, 1970-10, 1989-24, 1998-38, 1954-17, 1984-16, 1991-34, 1998-10, 1957-6, 1959-27, 1951-31, 1954-14, 1978-37, 2005-9, 2000-49, 1983-22, 1970-29, 1999-14, 2001-51, 1993-24, 1996-51, 2012-14, 1980-26, 2008-51, 1998-3, 2007-31, 2001-41, 1932-6, 1993-32, 1984-19, 1953-16, 1989-47, 1990-42, 1994-23, 2001-1, 2007-20, 2007-35, 1985-49, 2007-28, 1964-47, 1996-11, 1975-51, 1994-11, 1999-41, 1982-50, 2004-49, 1975-29, 1992-42, 2010-44, 1958-35, 1983-34, 1983-1, 2001-50, 1979-35, 1988-34, 2010-11, 1982-42, 1945-48, 1987-15, 1975-47, 1981-38, 1962-31, 1994-46, 1955-11, 1981-11, 1950-44, 1995-19, 1989-11, 1990-48, 1995-12, 1987-29, 2001-33, 1999-11, 2009-4, 1961-44, 2006-30, 1987-34, 1993-50, 2008-40, 1956-7, 2008-47, 1983-36, 1923-47, 1946-29, 1992-8, 1961-43, 1989-10, 1987-38, 2008-8, 2007-23, 1988-46, 1932-12, 1998-16, 1985-9, 2004-40, 2005-16, 1969-34, 2008-16, 1981-25, 1938-42, 1986-8, 1998-28, 1995-35, 1990-2, 1955-21, 1996-7, 2003-7, 1983-15, 1952-31, 1988-33, 1993-45, 1992-22, 1997-2, 2009-33, 2003-17, 2002-23, 2009-42, 1975-32, 2010-17, 1987-50, 1948-49, 1977-29, 1982-46, 2010-43, 2008-37, 1986-31, 1988-11, 2003-30, 2012-11, 1978-40, 1993-48, 1996-3, 1979-21, 2012-16, 1995-27, 1953-2, 2011-2, 1957-31, 1992-10, 2001-9, 1973-13, 1981-50, 1974-30, 1985-15, 1994-45, 1953-14, 2002-13, 2011-23, 1973-49, 1997-47, 2004-15, 1981-10, 1960-45, 1989-34, 1986-34, 1981-35, 1984-18, 1954-9, 1982-7, 2006-5, 2011-19, 2012-2, 2002-41, 1989-49, 2006-40, 1971-44, 1988-53, 1978-19, 1972-35, 2009-34, 1979-49, 2009-10, 1973-33, 1994-8, 2009-13, 1956-24, 1975-22, 1989-16, 1998-30, 1991-14, 1997-49, 1982-24, 1995-1, 2011-44, 2002-48, 2000-23, 1987-5, 1990-13, 1992-15, 2002-38, 1958-36, 2005-32, 1988-35, 2011-24, 2008-3, 2011-4, 1987-25, 1950-46, 1970-52, 1999-50, 1976-47, 1992-29, 2009-50, 1991-49, 1981-18, 1987-30, 1954-27, 2001-34, 1953-12, 1953-29, 2000-25, 1994-15, 1986-48, 1972-6, 2012-3, 1992-26, 1998-13, 1988-49, 1991-29, 1995-26, 1937-51, 1951-10, 1979-26, 2005-38, 1986-18, 1992-20, 2007-42, 2011-42, 1991-15, 1971-50, 1999-44, 1995-29, 1995-40, 2007-10, 1984-43, 1998-6, 1989-7, 1989-23, 2002-15, 1956-46, 2006-43, 2008-25, 1984-26, 2002-37, 2006-17, 1990-51, 1997-26, 1981-12, 1993-51, 2005-8, 1956-38, 1942-23, 2000-12, 1933-14, 1995-33, 1983-50, 1995-16, 1953-26, 2009-18, 2004-34, 2005-42, 1955-9, 2008-6, 1991-31, 1997-7, 1985-12, 2002-51, 1990-33, 1954-40, 1958-19, Year, 1971-17, 1985-27, 1990-17, 1955-25, 2003-3, 1956-18, 1999-34, 1988-28, 1994-18, 2001-38, 1996-33, 1967-51, 1993-1, 2000-17, 2001-25, 1996-23, 1995-34, 1998-51, 1971-40, 2009-28, 2010-18, 1999-49, 2002-16, 2004-45, 2004-9, 1988-18, 1983-32, 2010-22, 1991-5, 1952-7, 1976-45, 1953-41, 1998-44, 1983-33, 1989-38, 1952-24, 1984-28, 1952-28, 1955-17, 1992-14, 1997-44, 2009-21, 2003-35, 1983-11, 2012-6, 2007-51, 1988-39, 1977-42, 1979-28, 1939-10, 1995-2, 2011-11, 1991-46, 2011-6, 1968-42, 2005-5, 1973-50, 1992-46, 2003-12, 1983-51, 1991-37, 1999-52, 2009-51, 1945-52, 1954-8, 1993-38, 1955-40, 1993-31, 1987-41, 2002-14, 2008-45, 2007-21, 1975-39, 1989-43, 1982-25, 1981-40, 1950-32, 1951-51, 2006-1, 1981-42, 2005-30, 2011-21, 1992-25, 1969-21, 2005-40, 1990-7, 1993-28, 2007-45, 1957-43, 1998-41, 2008-36, 1991-2, 1997-29, 1965-25, 2007-25, 1995-52, 1985-29, 1990-22, 2007-34, 2011-36, 1955-5, 2012-32, 1999-22, 1996-10.
  return _format_order(self.data.orig_exog, order, self._causal)

In [28]:
print(selected_order.ar_lags)

[1, 2]

In [5]:
box_revenues_clean = df_box_offices.dropna()

In [9]:
weekly_revenues = box_revenues_clean.groupby(["Year", "Week"])["Box office revenue"].sum().reset_index()
weekly_no_films = box_revenues_clean.groupby(["Year", "Week"]).size().reset_index(name="no. films released")

weekly_films_revenues = pd.merge(weekly_no_films, weekly_revenues, on=["Year", "Week"], how="left") 
weekly_films_revenues_sorted = weekly_films_revenues.sort_values(["Year", "Week"], ascending=True)

In [10]:
weekly_films_revenues_sorted.head(50)

    Year  Week  no. films released  Box office revenue
0   1913    33                   1            980000.0
1   1914    46                   1             87028.0
2   1915     6                   1          50000000.0
3   1923    47                   1           4168790.0
4   1924    49                   1            274827.0
5   1925    53                   1          10738000.0
6   1926    52                   1           1000000.0
7   1930    46                   1           8000000.0
8   1930    52                   1            780000.0
9   1931    47                   1          12000000.0
10  1932     6                   1            408000.0
11  1932    10                   1            732000.0
12  1932    12                   1           2540000.0
13  1932    15                   1           2250000.0
14  1932    32                   1           1650000.0
15  1932    37                   1            443000.0
16  1932    53                   1           2000000.0
17  1933     6                   1           2200000.0
18  1933    14                   1           1856000.0
19  1933    27                   1           1100000.0
20  1933    51                   1            616000.0
21  1934     7                   1            583000.0
22  1934     8                   1           2500000.0
23  1934    13                   1           2035000.0
24  1934    33                   1           1164000.0
25  1935    16                   1            831000.0
26  1935    17                   1             27500.0
27  1935    33                   1            770000.0
28  1935    34                   1           1700000.0
29  1935    45                   1           4460000.0
30  1935    52                   1           1111000.0
31  1936     6                   1           1170000.0
32  1936     8                   1           1665838.0
33  1936    20                   1           1084000.0
34  1936    26                   1           2868000.0
35  1937     4                   1            628138.0
36  1937     9                   1            948500.0
37  1937    51                   1         416000000.0
38  1938    19                   1           3981000.0
39  1938    21                   1            460000.0
40  1938    42                   1            716000.0
41  1938    52                   1            964404.0
42  1939     4                   2           3974000.0
43  1939    10                   1            460000.0
44  1939    25                   1            721000.0
45  1940    20                   1           1250000.0
46  1940    27                   1           2000000.0
47  1940    33                   1           1598435.0
48  1940    44                   1           1357000.0
49  1940    46                   1            580129.0