In [5]:
import pandas as pd

import sys
sys.path.append("../src/model")

from ARDL_model import ARDL_model_func

In [6]:
DATA_PATH = "../data/CLEAN"

df_box_offices = pd.read_csv(DATA_PATH+"/Violent_Movies_final.tsv", sep="\t")

In [ ]:
# Testing out the ARDL model: 
TEST = ARDL_model_func(df_box_offices)

In [ ]:
# QUESTIONS
# 1) Only take the years 1950-2012 ? In other years we have nearly no weekly values ? Due to wars ? 
# 2) Fill all missing weeks with 0 films and 0 box_office_revenue


TEST.head()

   Year  Week  no. films released  Box office revenue
0  1913    33                   1            980000.0
1  1914    46                   1             87028.0
2  1915     6                   1          50000000.0
3  1923    47                   1           4168790.0
4  1924    49                   1            274827.0

In [5]:
box_revenues_clean = df_box_offices.dropna()

In [9]:
weekly_revenues = box_revenues_clean.groupby(["Year", "Week"])["Box office revenue"].sum().reset_index()
weekly_no_films = box_revenues_clean.groupby(["Year", "Week"]).size().reset_index(name="no. films released")

weekly_films_revenues = pd.merge(weekly_no_films, weekly_revenues, on=["Year", "Week"], how="left") 
weekly_films_revenues_sorted = weekly_films_revenues.sort_values(["Year", "Week"], ascending=True)

In [10]:
weekly_films_revenues_sorted.head(50)

    Year  Week  no. films released  Box office revenue
0   1913    33                   1            980000.0
1   1914    46                   1             87028.0
2   1915     6                   1          50000000.0
3   1923    47                   1           4168790.0
4   1924    49                   1            274827.0
5   1925    53                   1          10738000.0
6   1926    52                   1           1000000.0
7   1930    46                   1           8000000.0
8   1930    52                   1            780000.0
9   1931    47                   1          12000000.0
10  1932     6                   1            408000.0
11  1932    10                   1            732000.0
12  1932    12                   1           2540000.0
13  1932    15                   1           2250000.0
14  1932    32                   1           1650000.0
15  1932    37                   1            443000.0
16  1932    53                   1           2000000.0
17  1933     6                   1           2200000.0
18  1933    14                   1           1856000.0
19  1933    27                   1           1100000.0
20  1933    51                   1            616000.0
21  1934     7                   1            583000.0
22  1934     8                   1           2500000.0
23  1934    13                   1           2035000.0
24  1934    33                   1           1164000.0
25  1935    16                   1            831000.0
26  1935    17                   1             27500.0
27  1935    33                   1            770000.0
28  1935    34                   1           1700000.0
29  1935    45                   1           4460000.0
30  1935    52                   1           1111000.0
31  1936     6                   1           1170000.0
32  1936     8                   1           1665838.0
33  1936    20                   1           1084000.0
34  1936    26                   1           2868000.0
35  1937     4                   1            628138.0
36  1937     9                   1            948500.0
37  1937    51                   1         416000000.0
38  1938    19                   1           3981000.0
39  1938    21                   1            460000.0
40  1938    42                   1            716000.0
41  1938    52                   1            964404.0
42  1939     4                   2           3974000.0
43  1939    10                   1            460000.0
44  1939    25                   1            721000.0
45  1940    20                   1           1250000.0
46  1940    27                   1           2000000.0
47  1940    33                   1           1598435.0
48  1940    44                   1           1357000.0
49  1940    46                   1            580129.0