# Data loading and exploration - TEST

Here we will test loading data functions

In [1]:
import sys
import os

# Add the project root directory (not src) to sys.path
sys.path.append(os.path.abspath("../src/data/"))

# Now import the DataLoader class
from data_loading import DataLoader

raw = '../data/RAW/'
clean = '../data/CLEAN'

In [2]:
data_loader = DataLoader(raw,clean)
data_loader.show_data_folder()

raw data

CMU_Movies_Dataset
GVD_Dataset
Human_labelling_violentMovie.xlsx
Kaggle_Movies_Dataset
~$Human_labelling_violentMovie.xlsx

clean data

word_count.csv
violent_word_list
sentiment.csv
sentiment_test.csv
Human_labelling_violentMovie.xlsx
classification_result
Movie_Data_clean.tsv
word_count_test.csv

In [3]:
#load raw data
CMU_movie_metadata,CMU_plot_summary,GVD_data,Kaggle_movies_metadata = data_loader.load_all_data()

load CMU movie metadata


load plot data


load GVD data


load kaggle movie data

In [4]:
#load clean data
MovieData = data_loader.clean_movie_data()

In [5]:
MovieData.loc[14881706]["Plot"]

'newlywed carl  goes to war where he endures major suffering. back home, wife pauli  starves, becomes a prostitute to survive, and their baby dies.'

In [6]:
#load human labelled movie data
ViolentLabel,ViolentData = data_loader.human_labelled_data()

In [7]:
ViolentLabel

   Unnamed: 0 Violence level  Label
0           0       Peaceful     -1
1           1           Mild      0
2           2        Violent      1

In [8]:
ViolentData

                    Answer
Wikipedia movie ID
113454                   0
909664                   1
1028671                  0
1336564                  0
1472852                 -1
...                    ...
35004480                -1
35784403                 1
36039685                 1
36353797                 1
37067980                 1

[146 rows x 1 columns]

In [14]:
MovieData.loc[24214688]["Plot"]

'martha & ethel tells the stories of two women in their 80s: a german-catholic woman named martha and an african-american woman named ethel, the former nannies of director/producer jyll johnstone and co-producer barbara ettinger. it examines each woman’s background and hiring into affluent new york families. the johnstone and ettinger children, now grown, reflect on how martha and ethel played formative—and often confusing—roles in their lives.'