# Data loading and exploration - TEST

Here we will test loading data functions

In [1]:
import sys
import os

# Add the project root directory (not src) to sys.path
sys.path.append(os.path.abspath("../src/data/"))

# Now import the DataLoader class
from data_loading import DataLoader

raw = '../data/RAW/'
clean = '../data/CLEAN'

In [2]:
data_loader = DataLoader(raw,clean)
data_loader.show_data_folder()

raw data

CMU_Movies_Dataset
GVD_Dataset
Human_labelling_violentMovie.xlsx
Kaggle_Movies_Dataset

clean data

word_count.csv
violent_word_list
sentiment.csv
Movie_Data_clean.tsv

In [3]:
#load raw data
CMU_movie_metadata,CMU_plot_summary,GVD_data,Kaggle_movies_metadata = data_loader.load_all_data()

load CMU movie metadata


load plot data


load GVD data


load kaggle movie data

In [4]:
#load clean data
MovieData = data_loader.clean_movie_data()

In [5]:
MovieData

,Movie name,Release date,Box office revenue,Languages,Countries,Genres,Plot
Wikipedia movie ID,,,,,,,
975900,Ghosts of Mars,2001-08-24,14010832.0,English Language,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...","set in the second half of the 22nd century, th..."
6631279,Little city,1997-04-04,NaN,English Language,United States of America,"Romantic comedy, Ensemble Film, Comedy-drama, ...","adam, a san francisco-based artist who works a..."
77856,Mary Poppins,1964-08-27,102272727.0,English Language,United States of America,"Children's/Family, Musical, Fantasy, Comedy, D...",the film opens with mary poppins perched in a...
21926710,White on Rice,2009-05-31,NaN,NaN,United States of America,"Romantic comedy, Romance Film, Comedy, Indie",jimmy ([[hiroshi watanabe loves dinosaurs and...
156558,Baby Boy,2001-06-27,29381649.0,English Language,United States of America,"Crime Fiction, Drama, Coming of age",a young 20-year-old named jody lives with his...
...,...,...,...,...,...,...,...
25011340,Dot.Kill,2005-03-08,NaN,NaN,United States of America,"Thriller, Crime Thriller, Action, Psychologica...","charlie daines , is a morphine-addicted detect..."
7761830,Spaced Invaders,1990-04-27,15369573.0,English Language,United States of America,"Alien Film, Science Fiction, Family Film, Come...","the space armada from mars, known as the imper..."
1918494,State and Main,2000-08-26,6944471.0,"Italian Language, English Language","France, United States of America","Parody, Americana, Comedy",havoc is wrought on the inhabitants of a small...
664006,Guilty as Sin,1993-06-04,22886222.0,NaN,United States of America,"Thriller, Erotic thriller, Psychological thril...",jennifer haines is an up-and-coming chicago a...
35228177,Mermaids: The Body Found,2011-03-19,NaN,English Language,United States of America,Drama,two former national oceanic atmospheric admini...

In [6]:
#load human labelled movie data
ViolentLabel,ViolentData = data_loader.human_labelled_data()

/Users/djay/miniforge3/envs/ada/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [7]:
ViolentLabel

    Violence level  Label
0              Low     -1
1  Medium/not sure      0
2          Violent      1

In [8]:
ViolentData

              Answer  Date
Wikipedia ID
19286405           0  11.11
6714641            1  11.11
27573594           1  11.11
25874731           0  11.11
34954266          -1  11.11
...              ...    ...
24104622           1  12.11
14144257           0  12.11
35004480          -1  12.11
3868321           -1  12.11
2295249            0  12.11

[70 rows x 2 columns]