# Data formating for Playground website

In [2]:
import sys
import os

import pandas as pd
# Add the project root directory (not src) to sys.path
sys.path.append(os.path.abspath("../src/data/"))

# Now import the DataLoader class
from data_loading import DataLoader

raw = '../data/RAW/'
clean = '../data/CLEAN'

In [3]:
data_loader = DataLoader(raw,clean)
data_loader.show_data_folder()

raw data

CMU_Movies_Dataset
GVD_Dataset
Human_labelling_violentMovie.xlsx
Kaggle_Movies_Dataset

clean data

word_count.csv
empath_features_matrix.tsv
violent_word_list
human_label_flourish.xlsx
violent_movie_study
GVD_clean.csv
sentiment.csv
movie_violence_metric.csv
sentiment_test.csv
empath_features_matrix_norm.tsv
Human_labelling_violentMovie.xlsx
classification_result
Movie_Data_clean.tsv
word_count_test.csv

In [4]:
plot = data_loader.plot_data()
cmu = data_loader.movie_data()

load plot data


load CMU movie metadata

In [10]:
labels = pd.read_csv(clean+"/classification_result/LLM_result_binary.csv")
labels.set_index("Wikipedia movie ID",inplace=True)
labels.head()

                         Result  Prediction
Wikipedia movie ID
975900                  Violent         1.0
6631279             Non-violent        -1.0
77856               Non-violent        -1.0
21926710            Non-violent        -1.0
156558                  Violent         1.0

In [11]:
playground = labels.merge(plot,right_index=True,left_index=True).merge(cmu["Movie name"],right_index=True,left_index=True)

In [12]:
playground.head()

,Result,Prediction,Plot,Movie name
Wikipedia movie ID,,,,
975900,Violent,1.0,"Set in the second half of the 22nd century, th...",Ghosts of Mars
6631279,Non-violent,-1.0,"Adam, a San Francisco-based artist who works a...",Little city
77856,Non-violent,-1.0,The film opens with Mary Poppins perched in a...,Mary Poppins
21926710,Non-violent,-1.0,Jimmy ([[Hiroshi Watanabe loves dinosaurs and...,White on Rice
156558,Violent,1.0,A young 20-year-old named Jody lives with his...,Baby Boy

In [13]:
playground.to_csv(clean+"/classification_result/LLM_for_play.csv")