# Violent word analysis

In this notebook, we will apply a word counter using various lists of violent terms to analyze the plot data in the clean dataset.

### Imports

In [1]:
import sys
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Add the project root directory (not src) to sys.path
sys.path.append(os.path.abspath("../data/"))

# Now import the DataLoader class
from data_loading import DataLoader

raw = '../../data/RAW/'
clean = '../../data/CLEAN'

In [3]:
# Add the directory containing the script to sys.path
sys.path.append(os.path.abspath("../model"))

# Now you can import the script like a module
from Word_counter import WordCounter

## Load the data

In [4]:
#load raw data
data_loader = DataLoader(raw,clean)

Test_set_data = True
if Test_set_data :
    MovieData = data_loader.plot_data()
    ViolentLabel, ViolentData = data_loader.human_labelled_data()
    MovieData = MovieData.loc[ViolentData.index.unique()]
else :
    MovieData = data_loader.clean_movie_data()

load plot data

In [5]:
MovieData

                                                                 Plot
Wikipedia movie ID
113454              The film tells the story of a mob hit man  and...
909664              The film follows the personal relationship bet...
1028671             According to Devil's Playground, at the age of...
1336564             Jim Slater , is in search of stolen money, to ...
1472852             David "Dave" Whiteman  and his wife, Barbara, ...
...                                                               ...
35004480            Traffic jams, commercial saturation and garbag...
35784403            News of the death of The Joker during the even...
36039685            Detective Bobby Corcoran and his partner, Dete...
36353797            Zerelda King is assigned to look into possible...
37067980            A defecting Russian diplomat has arranged to m...

[146 rows x 1 columns]

## Initialize the word counter

In [6]:
Word_Counter = WordCounter(data_loader,MovieData)

## Perform word count and save the data

In [7]:
Count = Word_Counter.violent_word_count("All")

word count for the list : Physical_violence
word count for the list : Psychological_violence
total count
calculate density
done !

In [8]:
Count.head()

,word_count_Physical_violence,word_count_Psychological_violence,total_count,density word_count_Physical_violence,density word_count_Psychological_violence
Wikipedia movie ID,,,,,
113454,3,0,27,0.111111,0.0
909664,1,0,26,0.038462,0.0
1028671,0,0,36,0.000000,0.0
1336564,0,0,32,0.000000,0.0
1472852,0,0,49,0.000000,0.0

In [9]:
# save the result

if Test_set_data :
    Count.to_csv(clean + "/word_count_test.csv") 
else :
    Count.to_csv(clean + "/word_count.csv")