# Alligators Don't Apologize - Exploratory Data Analysis

In [62]:
import pandas as pd
import re
import json

In [9]:
# Path to the data folders
raw_data_folder = '../data/RAW/'
clean_data_folder = '../data/CLEAN/'

## First Dataset: CMU Movies

In [10]:
# Load the movie metadata
CMU_movie_metadata = pd.read_csv(raw_data_folder+'CMU_Movies_Dataset/movie.metadata.tsv', delimiter='\t', header=None)
CMU_movie_metadata.columns = ['wikipedia_movie_ID', 'freebase_movie_ID', 'movie_name', 'movie_release_date', 'movie_box_office_revenue', 'movie_runtime', 'movie_languages', 'movie_countries', 'movie_genres']
CMU_movie_metadata.head(10)

# Load the character metadata
CMU_char_metadata = pd.read_csv(raw_data_folder+'CMU_Movies_Dataset/character.metadata.tsv', sep='\t', header=None)
CMU_char_metadata.columns = ['wikipedia_movie_ID', 'freebase_movie_ID', 'movie_release_date', 'character_name', 'actor_DOB', 'actor_gender', 'actor_height_meters', 'actor_ethnicity', 'actor_name', 'actor_age_at_movie_release', 'freebase_character_actor_map_ID', 'freebase_character_ID', 'freebase_actor_ID']

# Load the plot summaries
CMU_plot_summary = pd.read_csv(raw_data_folder+'CMU_Movies_Dataset/plot_summaries.txt', sep='\t', header=None)
CMU_plot_summary.columns = ['wikipedia_movie_ID', 'plot_summary']

#######

# Include the other parts of the dataset if needed

######

In [52]:
CMU_movie_metadata[CMU_movie_metadata['movie_name']=='From Dusk Till Dawn']

,wikipedia_movie_ID,freebase_movie_ID,movie_name,movie_release_date,movie_box_office_revenue,movie_runtime,movie_languages,movie_countries,movie_genres
75450,447299,/m/029k4p,From Dusk Till Dawn,1996-01-19,25836616.0,107.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"": ""Spanish Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01q03"": ""Cult"", ""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatural"", ""/m/03btsm8"": ""Action/Adventure"", ""/m/06nbt"": ""Satire"", ""/m/01jfsb"": ""Thriller"", ""/m/0hj3n7f"": ""Horror Comedy"", ""/m/02wtdps"": ""Crime Thriller"", ""/m/02kdv5l"": ""Action"", ""/m/01z4y"": ""Comedy""}"

In [57]:
CMU_plot_summary[CMU_plot_summary['wikipedia_movie_ID']==447299]

       wikipedia_movie_ID  \
24251              447299

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        plot_summary
24251  Two brothers Seth  and Richard "Richie" Gecko , wanted by the FBI and Texas police for a bank robbery that has left several people dead, stop at a liquor store with the intent of just picking up a state map, but the psychotic Richie kills Ranger Earl McGraw  and the cashier ([[John Hawkes  and burns the store down. During the gunfight, Richie is shot in his left hand. The Geckos are heading towards Mexico, where a contact has arranged a safehouse for them. Along the way they stop at a motel and it is revealed that they had been keeping a bank teller  in their car trunk as hostage. While Seth goes out to buy some food, Richie brutally rapes and murders the teller, which infuriates Seth when he returns. Meanwhile, Jacob , a pastor who is experiencing a crisis of faith, arrives at the same motel with his daughter Kate  and his adopted son Scott . Realizing that the family's RV can be used to get them across the border, the brothers kidnap the family, making a truce that if they can make it past the border, Jacob and his family will not be harmed. When the RV reaches the Mexican border, the Gecko brothers hide in the bathroom with Kate, to ensure Jacob will not say anything to the cops. But when one cop  comes up to the window to speak with him, Jacob behaves nervously, and says it just him and his son crossing the border. The cop hears a noise in the back and asks what it was. When Jacob replies it was his daughter, the cop comes aboard. He knocks on the bathroom door and Kate answers. When they open the door, they see Kate sitting on the toilet, the brothers hidden behind the shower curtain. Kate yells for them to get out, and the cops leave, believing they have cleared the RV of any suspicious activity. After successfully reaching Mexico, they arrive at the "Titty Twister", a strip club/brothel in the middle of a desolate part of Mexico, to meet their contact Carlos at dawn. Inside, Seth and Richie drink heavily, encouraging the entire group to do the same. Richie takes special notice of the club's star performer, Sant치nico Pandem칩nium  during an extended solo performance, after which Chet Pussy  and some others approach the group, looking to settle the score with the Geckos. In a short confrontation, Richie is stabbed in his already wounded hand, and seeing his blood, Sant치nico attacks him, undergoing a transformation into a horrific vampire. Chaos ensues as the employees, the strippers and the house band  are all revealed to be vampires. Most of the patrons are quickly killed. Richie is bitten by Sant치nico and bleeds to death. Only Seth, Jacob, Kate, Scott, a biker named Sex Machine  and a Vietnam veteran trucker named Frost  survive the attack. They quickly establish an alliance in order to survive through the night. Seth convinces the group that Jacob is their best weapon, if he rediscovers his faith, and they also figure out how forming a cross with two objects helps fend off the vampires. The slain patrons, including Richie, reawaken as vampires, forcing the group to kill them all. During this second struggle, one of the vampires bites Sex Machine's arm. While the group is listening to Frost recount an event from his days in Vietnam, Sex Machine transforms into a vampire and bites both Frost and Jacob before being tossed through a boarded up window, which allows many other vampires, in the form of bats, to enter. Seth and the Fullers retreat to a storeroom and improvise anti-vampire weapons from supplies left by prior victims of the bar. The four stage their final assault on the vampires, their weapons proving effective in destroying many of the creatures. During the battle, Sex Machine is killed by Kate and Jacob slays the vampiric Frost. Jacob transforms, but Scott is hesitant to kill him and gets bitten. He manages to dispatch his father and is dragged down by other vampires. Kate follows the wishes of her brother and kills him, also destroying his attackers. As the sun rises, only Seth and Kate remain alive, surrounded and low on ammunition. Just then, sunlight breaks through the bullet-holes in the bar walls and burns the vampires. Seth and Kate shoot out more holes, which allows them to survive until Carlos and his guards show up. They open the doors, and the sunlight reflects on the bar's disco ball, killing the rest of the creatures while Seth and Kate flee outdoors. Safely outside, Seth confronts a bewildered Carlos , who asks if the bar was run by psychopaths. Seth sarcastically replies that psychopaths don't explode in sunlight. Angry over the deaths of Richie, Jacob and Scott, Seth demands that Carlos lower his 30% take for his stay in El Rey and telling them to wait in the bar, to which Carlos reluctantly agrees. Kate offers to accompany Seth, but fearing for her safety, he declines and gives her some cash. After Kate drives the RV away, the camera pans back to reveal that the "Titty Twister" bar is the top of an Aztec temple partially sunk into a valley wall, most likely the source and true home of the vampire monsters who've been spreading their curse for centuries, with many abandoned motorbikes and trucks seen around it which means many people met a horrible end.

## Second Dataset: GVD Dataset

In [11]:
# Load the GVD dataset
GVD_data = pd.read_csv(raw_data_folder+'GVD_Dataset/2023_gvdDatabase_1_0_country.csv')

In [12]:
GVD_data.head(10)

,year,country_code,country_name,country_region,country_subregion,population,indicator,mechanism,count,rate,count_population,source_name,source_url,entry_comment
0,2004,ABW,Aruba,Americas,Caribbean,Female,Homicide intentional,All,0,0.00,51716,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2009 up...
1,2004,ABW,Aruba,Americas,Caribbean,Male,Homicide intentional,All,2,4.25,47028,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2009 up...
2,2004,ABW,Aruba,Americas,Caribbean,Total,Homicide intentional,All,2,2.03,98744,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2009 up...
3,2005,ABW,Aruba,Americas,Caribbean,Female,Homicide intentional,All,1,1.91,52454,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2010 up...
4,2005,ABW,Aruba,Americas,Caribbean,Male,Homicide intentional,All,5,10.51,47574,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2010 up...
5,2005,ABW,Aruba,Americas,Caribbean,Total,Homicide intentional,All,6,6.00,100028,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2010 up...
6,2006,ABW,Aruba,Americas,Caribbean,Female,Homicide intentional,All,1,1.89,52895,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2011 up...
7,2006,ABW,Aruba,Americas,Caribbean,Male,Homicide intentional,All,4,8.34,47935,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2011 up...
8,2006,ABW,Aruba,Americas,Caribbean,Total,Homicide intentional,All,5,4.96,100830,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2011 up...
9,2007,ABW,Aruba,Americas,Caribbean,Female,Homicide intentional,All,0,0.00,53086,UN Office On Drugs and Crime,https://dataunodc.un.org,Data collected and/or validated in the 2012 up...

## Third dataset: Kaggle Movies Dataset

In [41]:
# Load the movies metadata
Kaggle_movies_metadata = pd.read_csv(raw_data_folder+'Kaggle_Movies_Dataset/movies_metadata.csv')

# Load the credits
Kaggle_credits = pd.read_csv(raw_data_folder+'Kaggle_Movies_Dataset/credits.csv')

# Load the keywords data
Kaggle_keywords = pd.read_csv(raw_data_folder+'Kaggle_Movies_Dataset/keywords.csv')

# Load the ratings
Kaggle_ratings = pd.read_csv(raw_data_folder+'Kaggle_Movies_Dataset/ratings.csv')

# Load the links
Kaggle_links = pd.read_csv(raw_data_folder+'Kaggle_Movies_Dataset/links.csv')

/var/folders/8z/vm21_w1s46v5nvgv_mq9wlrh0000gn/T/ipykernel_41113/3945269963.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  Kaggle_movies_metadata = pd.read_csv(raw_data_folder+'Kaggle_Movies_Dataset/movies_metadata.csv')

In [45]:
Kaggle_movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [59]:
Kaggle_movies_metadata[Kaggle_movies_metadata['id']=='755']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Collection', 'poster_path': '/a156nAy5ZTGXlO5wgfvnF26aaDB.jpg', 'backdrop_path': '/oIJQPVy33uxBAu9LMXwjsgHLyxP.jpg'}",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}]",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,"Seth Gecko and his younger brother Richard are on the run after a bloody bank robbery in Texas. They escape across the border into Mexico and will be home-free the next morning, when they pay off the local kingpin. They just have to survive 'from dusk till dawn' at the rendezvous point, which turns out to be a Hell of a strip joint.",...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Espa침ol'}]",Released,One night is all that stands between them and freedom. But it's going to be a hell of a night.,From Dusk Till Dawn,False,6.9,1644.0

In [33]:
filtered_Kaggle_metadata = Kaggle_movies_metadata[Kaggle_movies_metadata['genres'].str.contains(r'\bHorror\b', na=False)]
filtered_Kaggle_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
75,False,"{'id': 122017, 'name': 'Screamers Collection',...",20000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,9102,tt0114367,en,Screamers,"(SIRIUS 6B, Year 2078) On a distant mining pla...",...,1995-09-08,5781885.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The last scream you hear will be your own.,Screamers,False,6.1,154.0
90,False,NaN,47000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,9095,tt0117002,en,Mary Reilly,A housemaid falls in love with Dr. Jekyll and ...,...,1996-02-23,12379402.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The untold story of Jekyll and Hyde,Mary Reilly,False,5.7,77.0
91,False,NaN,14000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12158,tt0114825,en,Vampire in Brooklyn,"Maximillian, the lone survivor of a race of va...",...,1995-10-26,19800000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A comic tale of horror and seduction.,Vampire in Brooklyn,False,4.5,113.0

In [36]:
pd.set_option('display.max_colwidth', None)
test = Kaggle_keywords.loc[69]
print(test)

id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             755
keywords    [{'id': 246, 'name': 'dancing'}, {'id': 380, 'name': 'brother brother relationship'}, {'id': 459, 'name': 'sexual obsession'}, {'id': 797, 'name': 'showdown'}, {'id': 798, 'name': 'sheriff'}, {'id': 1664, 'name': 'eroticism'}, {'id': 2483, 'name': 'nudity'}, {'id': 2492, 'name': 'bank robber'}, {'id': 3133, 'name': 'vampire'}, {'id': 3649, 'name': 'holy water'}, {'id': 4063, 'name': 'siege'}, {'id': 6593, 'name': 'stripper'}, {'id': 10093, 'name': 'priest'}, {'id': 14601, 'name': 'explosion'}, {'id': 14687, 'name': 'extreme violence'}, {'id': 15363, 'name': 'bank robbery'}, {'id': 18072, 'name': 'preacher'}, {'id': 18233, 'name': 'hostage situation'}, {'id': 41380, 'name': 'crucifix'}, {'id': 163795, 'name': 'recreational vehicle'}, {'id': 167664, 'name': 'blood spurting'}, {'id': 168152, 'name': 'convenience store'}, {'id': 174878, 'name': 'female vampire'}, {'id': 188711, 'name': 'mexican american border'}, {'id': 191441, 'name': 'nightclub entertainer'}, {'id': 227811, 'name': 'boa constrictor'}]
Name: 69, dtype: object

In [37]:
# Violence keywords
violence_dict = {'Murder', 'Kill','Assault','Abuse','Fight','War','Attack','Violence','Crime','Hostage','Revenge','Torture','Conflict','Terror'}

In [67]:
# Join the dictionary words into a single regex pattern with word boundaries
pattern = r'\b(?:' + '|'.join(map(re.escape, violence_dict)) + r')\b'

# Function to check if any 'name' in the JSON list contains a violence-related word
def contains_violence(json_str):
    # Parse the JSON string into a list of dictionaries
    json_data = json.loads(json_str.replace("'", "\""))  # Replace single quotes with double quotes for valid JSON
    # Check all 'name' values for matches with the violence dictionary
    return any(re.search(pattern, item['name'], re.IGNORECASE) for item in json_data if 'name' in item)

# Filter the DataFrame
filtered_df = Kaggle_keywords[Kaggle_keywords['keywords'].apply(contains_violence)]


print(filtered_df)

JSONDecodeError: Expecting ',' delimiter: line 1 column 120 (char 119)

In [39]:
print(violent_movies)

          id  keywords
0      False     False
1      False     False
2      False     False
3      False     False
4      False     False
...      ...       ...
46414  False     False
46415  False     False
46416  False     False
46417  False     False
46418  False     False

[46419 rows x 2 columns]

In [42]:
Kaggle_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0